{
  "openapi": "3.1.0",
  "info": {
    "title": "UseZombie Control Plane API",
    "version": "1.0.0",
    "description": "Zombie automation control plane \u2014 webhook-driven agent execution in a bwrap+landlock sandbox.",
    "contact": {
      "name": "UseZombie",
      "url": "https://usezombie.com"
    }
  },
  "servers": [
    {
      "url": "https://api.usezombie.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "System status and readiness probes",
      "x-mintlify": {
        "navigation": "Health"
      }
    },
    {
      "name": "Authentication",
      "description": "CLI login flow via device-code style sessions and GitHub OAuth",
      "x-mintlify": {
        "navigation": "Authentication"
      }
    },
    {
      "name": "Workspaces",
      "description": "Create and manage workspaces (one workspace per repo)",
      "x-mintlify": {
        "navigation": "Workspaces"
      }
    },
    {
      "name": "Runs",
      "description": "Core spec-to-PR pipeline \u2014 queue, monitor, stream, retry, and cancel runs",
      "x-mintlify": {
        "navigation": "Runs"
      }
    },
    {
      "name": "Zombies",
      "description": "Zombie management and webhook ingestion \u2014 create, configure, and operate event-driven Zombies",
      "x-mintlify": {
        "navigation": "Zombies"
      }
    },
    {
      "name": "Memory",
      "description": "Persistent zombie memory \u2014 store, recall, list, and forget key-value entries scoped to a zombie",
      "x-mintlify": {
        "navigation": "Memory"
      }
    },
    {
      "name": "Credentials",
      "description": "BYOK (Bring Your Own Key) LLM provider credentials",
      "x-mintlify": {
        "navigation": "Credentials"
      }
    },
    {
      "name": "Skill Secrets",
      "description": "Per-skill secret storage for agent skill integrations",
      "x-mintlify": {
        "navigation": "Skill Secrets"
      }
    },
    {
      "name": "Admin",
      "description": "Platform-wide configuration \u2014 manage shared LLM provider keys",
      "x-mintlify": {
        "navigation": "Admin"
      }
    },
    {
      "name": "Billing",
      "description": "Plan upgrades and billing events",
      "x-mintlify": {
        "navigation": "Billing"
      }
    },
    {
      "name": "Integration Grants",
      "description": "Zombie runtime permission grants for third-party services (Slack, GitHub, etc.)",
      "x-mintlify": {
        "navigation": "Integration Grants"
      }
    },
    {
      "name": "External Agents",
      "description": "API keys for LangGraph/CrewAI/Composio agents to connect to a zombie",
      "x-mintlify": {
        "navigation": "External Agents"
      }
    },
    {
      "name": "Execute",
      "description": "Synchronous tool execution proxy for external agents",
      "x-mintlify": {
        "navigation": "Execute"
      }
    },
    {
      "name": "Slack",
      "description": "Slack OAuth install flow and inbound events/interactions webhooks",
      "x-mintlify": {
        "navigation": "Slack"
      }
    },
    {
      "name": "Webhooks",
      "description": "Approval-gate webhooks invoked by humans to unblock a paused zombie",
      "x-mintlify": {
        "navigation": "Webhooks"
      }
    },
    {
      "name": "Telemetry",
      "description": "Per-zombie execution telemetry and internal operator telemetry",
      "x-mintlify": {
        "navigation": "Telemetry"
      }
    },
    {
      "name": "Spec",
      "description": "Spec templating and preview endpoints for the agent relay",
      "x-mintlify": {
        "navigation": "Spec"
      }
    },
    {
      "name": "Scoring",
      "description": "Per-workspace scoring configuration",
      "x-mintlify": {
        "navigation": "Scoring"
      }
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Liveness check",
        "description": "Returns 200 as long as the process is alive and able to serve HTTP. Does not probe dependencies \u2014 use /readyz for readiness (database + queue).",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Process is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "commit",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok",
                      "description": "Always \"ok\" for a live process"
                    },
                    "service": {
                      "type": "string",
                      "const": "zombied",
                      "description": "Service identifier"
                    },
                    "commit": {
                      "type": "string",
                      "description": "Git commit SHA of the running build"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "summary": "Readiness probe",
        "description": "Kubernetes-style readiness probe. Returns 200 when both the database and the Redis queue are reachable; returns 503 fail-closed if either dependency is degraded.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Both dependencies healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          },
          "503": {
            "description": "At least one dependency is degraded; ready=false and the failing dependency's boolean is false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "metrics",
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-format metrics for scraping by monitoring infrastructure.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus text exposition format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "operationId": "create_auth_session",
        "summary": "Start a CLI login session",
        "description": "Creates a device-code style auth session. Returns a session ID and a login URL to present to the user in their browser.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "responses": {
          "201": {
            "description": "Auth session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "session_id",
                    "login_url",
                    "request_id"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Session identifier for polling"
                    },
                    "login_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to open in the user's browser to complete authentication"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "operationId": "poll_auth_session",
        "summary": "Poll auth session status",
        "description": "Polls a pending auth session. The CLI calls this repeatedly until status transitions to 'complete' (token available) or 'expired'.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auth session status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "complete",
                        "expired"
                      ],
                      "description": "Current session status"
                    },
                    "token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Bearer token, present only when status is 'complete'"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/complete": {
      "post": {
        "operationId": "complete_auth_session",
        "summary": "Complete an auth session",
        "description": "Called by the web frontend after successful OAuth to attach a token to the pending session. The CLI's next poll will receive the token.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Bearer token from OAuth flow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "complete"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/github/callback": {
      "get": {
        "operationId": "github_oauth_callback",
        "summary": "GitHub OAuth callback",
        "description": "Handles the GitHub OAuth redirect. Exchanges the authorization code for an access token and redirects the user back to the app.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "OAuth authorization code from GitHub",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "CSRF state parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to application after successful OAuth exchange"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "summary": "Create a workspace",
        "description": "Creates a new workspace linked to a GitHub repository. Returns the workspace ID and a GitHub App install URL if the app is not yet installed on the repo.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo_url"
                ],
                "properties": {
                  "repo_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Full GitHub repository URL (e.g. https://github.com/org/repo)"
                  },
                  "default_branch": {
                    "type": "string",
                    "description": "Default branch name, defaults to 'main' if omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "repo_url",
                    "default_branch",
                    "install_url",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique workspace identifier"
                    },
                    "repo_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Repository URL"
                    },
                    "default_branch": {
                      "type": "string",
                      "description": "Default branch for the workspace"
                    },
                    "install_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "GitHub App installation URL \u2014 direct user here if the app is not yet installed"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}:pause": {
      "post": {
        "operationId": "pause_workspace",
        "summary": "Pause or unpause a workspace",
        "description": "Toggles the paused state of a workspace. When paused, no new runs will be started and queued runs will be held. Uses optimistic concurrency via the version field.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pause",
                  "reason",
                  "version"
                ],
                "properties": {
                  "pause": {
                    "type": "boolean",
                    "description": "True to pause, false to unpause"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the state change"
                  },
                  "version": {
                    "type": "integer",
                    "description": "Optimistic concurrency version \u2014 must match current workspace version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace pause state updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "paused",
                    "version",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "paused": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}:sync": {
      "post": {
        "operationId": "sync_specs",
        "summary": "Sync specs from repo",
        "description": "Reads PENDING_*.md spec files from the repository's default branch and upserts them into the control plane. Returns the count of newly synced specs.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "synced_count",
                    "total_pending",
                    "specs",
                    "request_id"
                  ],
                  "properties": {
                    "synced_count": {
                      "type": "integer",
                      "description": "Number of specs synced in this request"
                    },
                    "total_pending": {
                      "type": "integer",
                      "description": "Total pending specs after sync"
                    },
                    "specs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SpecSummary"
                      },
                      "description": "List of synced spec summaries"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/credentials/llm": {
      "put": {
        "operationId": "put_llm_credential",
        "summary": "Set LLM credential",
        "description": "Stores or replaces the BYOK LLM API key for a workspace. The key is encrypted at rest and never returned in API responses.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "api_key"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "API key for the provider \u2014 encrypted at rest, never echoed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Credential stored"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "get_llm_credential",
        "summary": "Get LLM credential status",
        "description": "Returns whether a BYOK LLM key is configured for the workspace and which provider it belongs to. Never returns the actual key.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "has_key",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string",
                      "description": "Configured LLM provider name"
                    },
                    "has_key": {
                      "type": "boolean",
                      "description": "True if an API key is stored"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_llm_credential",
        "summary": "Delete LLM credential",
        "description": "Removes the stored BYOK LLM API key for the workspace. Future runs will fall back to platform-provided keys if available.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential deleted"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "operationId": "list_platform_keys",
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no BYOK key is configured.",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Platform key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys",
                    "request_id"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformKey"
                      }
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_platform_key",
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a BYOK key stored. The platform key proxies through the referenced workspace's credential.",
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "source_workspace_id"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "source_workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Workspace whose BYOK key to use as the platform key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Platform key configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "source_workspace_id",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "source_workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "operationId": "delete_platform_key",
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without BYOK keys will no longer be able to use this provider.",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "LLM provider name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean",
                      "const": false
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/scale": {
      "post": {
        "operationId": "scale_billing",
        "summary": "Upgrade billing plan",
        "description": "Upgrades a workspace's billing plan by linking a payment provider subscription. The workspace's plan tier and billing status are updated immediately.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subscription_id"
                ],
                "properties": {
                  "subscription_id": {
                    "type": "string",
                    "description": "Payment provider subscription identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing plan updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "plan_tier",
                    "billing_status",
                    "plan_sku",
                    "subscription_id",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "plan_tier": {
                      "type": "string",
                      "description": "New plan tier (e.g. free, pro, enterprise)"
                    },
                    "billing_status": {
                      "type": "string",
                      "description": "Current billing status"
                    },
                    "plan_sku": {
                      "type": "string",
                      "description": "Plan SKU identifier"
                    },
                    "subscription_id": {
                      "type": "string",
                      "description": "Payment provider subscription ID"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/events": {
      "post": {
        "operationId": "billing_event",
        "summary": "Record a billing event",
        "description": "Records a billing lifecycle event such as a payment failure or downgrade. The workspace's billing status is updated accordingly.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_type",
                  "reason"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "PAYMENT_FAILED",
                      "DOWNGRADE_TO_FREE"
                    ],
                    "description": "Type of billing event"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the event"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing event recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "billing_status",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "billing_status": {
                      "type": "string",
                      "description": "Updated billing status"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/summary": {
      "get": {
        "operationId": "get_billing_summary",
        "summary": "Get billing summary",
        "description": "Returns a billing breakdown for a workspace: run counts grouped by lifecycle event (completed, non-billable, score-gated), plus total agent seconds and average score for gated runs. Filterable by period.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "90d"
              ],
              "default": "30d"
            },
            "description": "Time period for the summary window"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing summary for the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "period_days",
                    "period_start_ms",
                    "period_end_ms",
                    "completed",
                    "non_billable",
                    "non_billable_score_gated",
                    "total_runs",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string"
                    },
                    "period_days": {
                      "type": "integer"
                    },
                    "period_start_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "period_end_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "completed": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "agent_seconds": {
                          "type": "integer"
                        }
                      }
                    },
                    "non_billable": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "non_billable_score_gated": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "avg_score": {
                          "type": "integer"
                        }
                      }
                    },
                    "total_runs": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/{zombie_id}": {
      "post": {
        "operationId": "receive_webhook",
        "summary": "Deliver an inbound webhook event to a Zombie",
        "description": "Delivers an inbound event to the Zombie identified by `zombie_id`. The Zombie is looked up by primary key \u2014 no JSONB traversal, no source-name uniqueness required. Bearer token is validated against the Zombie's `trigger.token` (omit if no token configured). Duplicate events (same `event_id` within 24 h) return 200 `{status: \"duplicate\"}`. A new event is enqueued to the Zombie's Redis stream and returns 202.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the target Zombie. Obtained from `POST /v1/zombies` or `zombiectl up`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_id",
                  "type",
                  "data"
                ],
                "properties": {
                  "event_id": {
                    "type": "string",
                    "description": "Unique identifier for this event. Used for idempotency deduplication (24-hour window)."
                  },
                  "type": {
                    "type": "string",
                    "description": "Event type label (e.g. `email.received`, `push`, `payment.succeeded`)."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Event payload \u2014 any JSON object. Passed as-is into the Zombie event loop."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Event accepted and enqueued for the Zombie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "event_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "accepted"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Duplicate event \u2014 already processed within the 24-hour dedup window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "duplicate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed payload \u2014 missing `event_id` or `type`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "No active Zombie is configured for this source (UZ-WH-001).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Zombie exists but is paused or stopped (UZ-WH-003).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/workspaces/{workspace_id}/zombies": {
      "get": {
        "operationId": "list_zombies",
        "summary": "List zombies in a workspace",
        "description": "Returns all zombies the caller has access to in the given workspace. Response envelope follows the RAD \u00a78 `items`/`total` convention.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ZombieSummary"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items in this response (not total across pages)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "create_zombie",
        "summary": "Create a zombie",
        "description": "Creates a new zombie from a SKILL.md source and a config JSON. The CLI (`zombiectl up`) compiles TRIGGER.md frontmatter into JSON before upload; the server never sees raw YAML.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "config_json",
                  "source_markdown"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "config_json": {
                    "type": "string",
                    "description": "Zombie config serialised as a JSON string."
                  },
                  "source_markdown": {
                    "type": "string",
                    "maxLength": 65536,
                    "description": "SKILL.md body."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "zombie_id",
                    "status"
                  ],
                  "properties": {
                    "zombie_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}": {
      "delete": {
        "operationId": "delete_zombie",
        "summary": "Kill a zombie",
        "description": "Marks the zombie as killed. Idempotent: re-killing a killed zombie returns the same 200 response. Scoped to workspace \u2014 cross-workspace deletes are rejected at the SQL layer as defence-in-depth.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "zombie_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "killed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}/activity": {
      "get": {
        "operationId": "list_zombie_activity",
        "summary": "List zombie activity events",
        "description": "Returns the append-only activity stream for a zombie (event received, skill invoked, response returned, credential resolved, grant requested, etc.). Cursor-based pagination.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from the previous response."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityEvent"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items in this response (not total across pages)."
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for the next page. null when no more items."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}:steer": {
      "post": {
        "operationId": "steer_zombie",
        "summary": "Steer a running zombie",
        "description": "Send a message to a running zombie to nudge it at the next gate checkpoint. Queued (next checkpoint) or instant (IPC delivery) per body.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "queued",
                      "instant"
                    ],
                    "default": "queued"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}/telemetry": {
      "get": {
        "operationId": "get_zombie_telemetry",
        "summary": "Get per-zombie telemetry",
        "description": "Returns execution telemetry for a specific zombie \u2014 last activity, event count, budget consumed, error counts.",
        "tags": [
          "Telemetry"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Telemetry payload (shape evolves with operator needs)."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/credentials": {
      "get": {
        "operationId": "list_workspace_credentials",
        "summary": "List credentials stored for a workspace",
        "description": "Returns credential names. Values are never returned \u2014 they live encrypted in `vault.secrets`.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentials": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CredentialSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "store_workspace_credential",
        "summary": "Store a credential in the workspace vault",
        "description": "Envelope-encrypted with the KEK (master key v1) and persisted to `vault.secrets`. The raw value is never stored unencrypted and never returned.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "value"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "value": {
                    "type": "string",
                    "maxLength": 4096
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/memory/store": {
      "post": {
        "operationId": "memory_store",
        "summary": "Store or upsert a memory entry",
        "description": "Writes a `(key, content, category)` entry scoped to a zombie instance. Idempotent upsert on `(key, instance_id)`.",
        "tags": [
          "Memory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zombie_id",
                  "key",
                  "content"
                ],
                "properties": {
                  "zombie_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "key": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 16384
                  },
                  "category": {
                    "type": "string",
                    "default": "core"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "zombie_id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/memory/recall": {
      "get": {
        "operationId": "memory_recall",
        "summary": "Recall memory entries matching a query",
        "description": "Case-insensitive LIKE search across both `key` and `content`. LIKE metacharacters in `query` are escaped \u2014 a query of `%` does NOT return every entry.",
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "zombie_id": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MemoryEntry"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/memory/list": {
      "get": {
        "operationId": "memory_list",
        "summary": "List recent memory entries",
        "description": "Returns most-recent entries, optionally filtered by category.",
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "zombie_id": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MemoryEntry"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/memory/forget": {
      "post": {
        "operationId": "memory_forget",
        "summary": "Forget a memory entry by key",
        "description": "Deletes the entry with the given `key` under the zombie instance. Returns `{ deleted: false }` if no match \u2014 never errors on miss.",
        "tags": [
          "Memory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zombie_id",
                  "key"
                ],
                "properties": {
                  "zombie_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "key": {
                    "type": "string",
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "zombie_id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/execute": {
      "post": {
        "operationId": "execute_tool",
        "summary": "Execute a tool on behalf of an external agent",
        "description": "Synchronous tool execution proxy. The external agent calls this endpoint with its API key (bearer), names a tool, and receives the tool's result inline. Used by LangGraph / CrewAI / Composio integrations.",
        "tags": [
          "Execute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target",
                  "method",
                  "credential_ref"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "format": "uri",
                    "description": "Target URL for the outbound call."
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE"
                    ],
                    "description": "HTTP method to use against the target."
                  },
                  "credential_ref": {
                    "type": "string",
                    "description": "Named credential from the workspace vault to inject on the outbound request."
                  },
                  "body": {
                    "type": "string",
                    "nullable": true,
                    "description": "Request body to forward to the target. Null for GET/DELETE."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed; upstream status and body are returned plus UseZombie metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "body",
                    "usezombie"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status returned by the upstream target."
                    },
                    "body": {
                      "type": "string",
                      "description": "Response body returned by the upstream target (as string)."
                    },
                    "usezombie": {
                      "type": "object",
                      "required": [
                        "action_id",
                        "firewall_decision",
                        "credential_injected",
                        "approval_required"
                      ],
                      "properties": {
                        "action_id": {
                          "type": "string"
                        },
                        "firewall_decision": {
                          "type": "string",
                          "enum": [
                            "allow",
                            "deny",
                            "approval_required"
                          ]
                        },
                        "credential_injected": {
                          "type": "boolean"
                        },
                        "approval_required": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}/integration-requests": {
      "post": {
        "operationId": "request_integration_grant",
        "summary": "Request a new integration grant",
        "description": "Called by a zombie (or on its behalf) to request permission to use a third-party integration (e.g. Slack, GitHub). Creates a pending grant that a human approves via the grant-approval webhook.",
        "tags": [
          "Integration Grants"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "service",
                  "reason"
                ],
                "properties": {
                  "service": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grant_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}/integration-grants": {
      "get": {
        "operationId": "list_integration_grants",
        "summary": "List integration grants for a zombie",
        "description": "Returns pending, approved, and revoked grants, newest first.",
        "tags": [
          "Integration Grants"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntegrationGrant"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items in this response (not total across pages)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}/integration-grants/{grant_id}": {
      "delete": {
        "operationId": "revoke_integration_grant",
        "summary": "Revoke an integration grant",
        "description": "Immediately revokes a grant. A revoked grant surfaces `UZ-GRANT-003` to the zombie on its next execute attempt against the affected service.",
        "tags": [
          "Integration Grants"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "grant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque grant ID returned by integration-requests."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/external-agents": {
      "get": {
        "operationId": "list_external_agents",
        "summary": "List external agents in a workspace",
        "description": "Returns agent metadata only \u2014 never returns `key_hash`.",
        "tags": [
          "External Agents"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExternalAgent"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items in this response (not total across pages)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "create_external_agent",
        "summary": "Issue an API key for an external agent",
        "description": "Creates a new `zmb_` API key bound to a specific zombie. **The raw key is returned once.** Only the SHA-256 hash is persisted \u2014 the key cannot be retrieved again.",
        "tags": [
          "External Agents"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zombie_id",
                  "name"
                ],
                "properties": {
                  "zombie_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 256
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent_id",
                    "key"
                  ],
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "zombie_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string",
                      "description": "Raw `zmb_` API key. Shown once \u2014 store securely."
                    },
                    "created_at": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/external-agents/{agent_id}": {
      "delete": {
        "operationId": "delete_external_agent",
        "summary": "Revoke an external-agent API key",
        "description": "Revokes the key immediately. Subsequent requests with the key receive 401.",
        "tags": [
          "External Agents"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/slack/install": {
      "get": {
        "operationId": "slack_install",
        "summary": "Begin Slack OAuth install",
        "description": "Redirects the user to Slack's OAuth consent screen. Used by the workspace owner to install the UseZombie Slack app.",
        "tags": [
          "Slack"
        ],
        "responses": {
          "302": {
            "description": "Redirect to Slack OAuth consent URL."
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/slack/callback": {
      "get": {
        "operationId": "slack_callback",
        "summary": "Slack OAuth redirect target",
        "description": "Exchanges the OAuth code for a team access token and persists team\u2192workspace binding. Validates the HMAC-signed state nonce.",
        "tags": [
          "Slack"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the post-install page in the UseZombie dashboard."
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/slack/events": {
      "post": {
        "operationId": "slack_events",
        "summary": "Receive Slack Events API callbacks",
        "description": "Entry point for Slack Events API deliveries (message, app_mention, etc.). Verified via the `X-Slack-Signature` HMAC header; all other auth headers are ignored. Returns 200 immediately to satisfy Slack's 3s ack budget.",
        "tags": [
          "Slack"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Slack Events API payload (opaque)."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged."
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/slack/interactions": {
      "post": {
        "operationId": "slack_interactions",
        "summary": "Receive Slack interactivity callbacks",
        "description": "Entry point for Slack Block Kit / shortcut / modal submissions. Verified via the `X-Slack-Signature` HMAC header. Form-encoded body per Slack's spec.",
        "tags": [
          "Slack"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "JSON-encoded interaction payload."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged."
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{zombie_id}:approval": {
      "post": {
        "operationId": "approval_webhook",
        "summary": "Resolve a zombie approval gate",
        "description": "Called by a human (via email link or Slack action) to approve or reject a paused zombie. Body is HMAC-signed by the issuer; the signature is verified against the zombie's webhook secret.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "decision",
                  "signature"
                ],
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected"
                    ]
                  },
                  "signature": {
                    "type": "string",
                    "description": "HMAC signature over the body."
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{zombie_id}:grant-approval": {
      "post": {
        "operationId": "grant_approval_webhook",
        "summary": "Approve or reject an integration grant request",
        "description": "Human-in-the-loop approval webhook for integration grant requests (Slack, GitHub, etc.). HMAC-signed.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_id",
                  "decision",
                  "signature"
                ],
                "properties": {
                  "grant_id": {
                    "type": "string"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected"
                    ]
                  },
                  "signature": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/internal/v1/telemetry": {
      "get": {
        "operationId": "internal_telemetry",
        "summary": "Internal operator telemetry",
        "description": "Admin-only platform health snapshot \u2014 in-flight request counts, queue depth, error rates. Requires the admin API key, not a user bearer token.",
        "tags": [
          "Telemetry"
        ],
        "responses": {
          "200": {
            "description": "Operator telemetry snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_in_flight_requests": {
                      "type": "integer"
                    },
                    "api_max_in_flight_requests": {
                      "type": "integer"
                    },
                    "queue_depth": {
                      "type": "integer",
                      "nullable": true
                    },
                    "queue_age_ms": {
                      "type": "integer",
                      "nullable": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/spec/template": {
      "post": {
        "operationId": "spec_template",
        "summary": "Agent relay: fetch a spec template",
        "description": "Internal endpoint used by the agent relay to materialise a spec template for a given workspace. Request/response shapes are version-coupled to the relay.",
        "tags": [
          "Spec"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Relay-specific request payload."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Rendered template payload."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/spec/preview": {
      "post": {
        "operationId": "spec_preview",
        "summary": "Agent relay: preview a spec",
        "description": "Internal endpoint used by the agent relay to preview a spec before execution. Request/response shapes are version-coupled to the relay.",
        "tags": [
          "Spec"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Relay-specific request payload."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Preview payload."
                }
              }
            }
          },
          "400": {
[...]
