{
  "openapi": "3.1.0",
  "info": {
    "title": "UseZombie Control Plane API",
    "version": "1.0.0",
    "description": "Zombie automation control plane \u2014 webhook-driven agent execution in a bwrap+landlock sandbox.",
    "contact": {
      "name": "UseZombie",
      "url": "https://usezombie.com"
    }
  },
  "servers": [
    {
      "url": "https://api.usezombie.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "System status and readiness probes",
      "x-mintlify": {
        "navigation": "Health"
      }
    },
    {
      "name": "Authentication",
      "description": "CLI login flow via device-code style sessions and GitHub OAuth",
      "x-mintlify": {
        "navigation": "Authentication"
      }
    },
    {
      "name": "Workspaces",
      "description": "Create and manage workspaces (one workspace per repo)",
      "x-mintlify": {
        "navigation": "Workspaces"
      }
    },
    {
      "name": "Runs",
      "description": "Core spec-to-PR pipeline \u2014 queue, monitor, stream, retry, and cancel runs",
      "x-mintlify": {
        "navigation": "Runs"
      }
    },
    {
      "name": "Zombies",
      "description": "Zombie management and webhook ingestion \u2014 create, configure, and operate event-driven Zombies",
      "x-mintlify": {
        "navigation": "Zombies"
      }
    },
    {
      "name": "Memory",
      "description": "Persistent zombie memory — store, recall, list, and forget key-value entries scoped to a zombie",
      "x-mintlify": {
        "navigation": "Memory"
      }
    },
    {
      "name": "Credentials",
      "description": "BYOK (Bring Your Own Key) LLM provider credentials",
      "x-mintlify": {
        "navigation": "Credentials"
      }
    },
    {
      "name": "Skill Secrets",
      "description": "Per-skill secret storage for agent skill integrations",
      "x-mintlify": {
        "navigation": "Skill Secrets"
      }
    },
    {
      "name": "Admin",
      "description": "Platform-wide configuration \u2014 manage shared LLM provider keys",
      "x-mintlify": {
        "navigation": "Admin"
      }
    },
    {
      "name": "Billing",
      "description": "Plan upgrades and billing events",
      "x-mintlify": {
        "navigation": "Billing"
      }
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Liveness check",
        "description": "Returns 200 as long as the process is alive and able to serve HTTP. Does not probe dependencies — use /readyz for readiness (database + queue).",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Process is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "commit",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok",
                      "description": "Always \"ok\" for a live process"
                    },
                    "service": {
                      "type": "string",
                      "const": "zombied",
                      "description": "Service identifier"
                    },
                    "commit": {
                      "type": "string",
                      "description": "Git commit SHA of the running build"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "summary": "Readiness probe",
        "description": "Kubernetes-style readiness probe. Returns 200 when both the database and the Redis queue are reachable; returns 503 fail-closed if either dependency is degraded.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Both dependencies healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          },
          "503": {
            "description": "At least one dependency is degraded; ready=false and the failing dependency's boolean is false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "metrics",
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-format metrics for scraping by monitoring infrastructure.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus text exposition format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "operationId": "create_auth_session",
        "summary": "Start a CLI login session",
        "description": "Creates a device-code style auth session. Returns a session ID and a login URL to present to the user in their browser.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "responses": {
          "201": {
            "description": "Auth session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "session_id",
                    "login_url",
                    "request_id"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Session identifier for polling"
                    },
                    "login_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to open in the user's browser to complete authentication"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "operationId": "poll_auth_session",
        "summary": "Poll auth session status",
        "description": "Polls a pending auth session. The CLI calls this repeatedly until status transitions to 'complete' (token available) or 'expired'.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auth session status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "complete",
                        "expired"
                      ],
                      "description": "Current session status"
                    },
                    "token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Bearer token, present only when status is 'complete'"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/complete": {
      "post": {
        "operationId": "complete_auth_session",
        "summary": "Complete an auth session",
        "description": "Called by the web frontend after successful OAuth to attach a token to the pending session. The CLI's next poll will receive the token.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Bearer token from OAuth flow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "complete"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/github/callback": {
      "get": {
        "operationId": "github_oauth_callback",
        "summary": "GitHub OAuth callback",
        "description": "Handles the GitHub OAuth redirect. Exchanges the authorization code for an access token and redirects the user back to the app.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "OAuth authorization code from GitHub",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "CSRF state parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to application after successful OAuth exchange"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "summary": "Create a workspace",
        "description": "Creates a new workspace linked to a GitHub repository. Returns the workspace ID and a GitHub App install URL if the app is not yet installed on the repo.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo_url"
                ],
                "properties": {
                  "repo_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Full GitHub repository URL (e.g. https://github.com/org/repo)"
                  },
                  "default_branch": {
                    "type": "string",
                    "description": "Default branch name, defaults to 'main' if omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "repo_url",
                    "default_branch",
                    "install_url",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique workspace identifier"
                    },
                    "repo_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Repository URL"
                    },
                    "default_branch": {
                      "type": "string",
                      "description": "Default branch for the workspace"
                    },
                    "install_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "GitHub App installation URL \u2014 direct user here if the app is not yet installed"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}:pause": {
      "post": {
        "operationId": "pause_workspace",
        "summary": "Pause or unpause a workspace",
        "description": "Toggles the paused state of a workspace. When paused, no new runs will be started and queued runs will be held. Uses optimistic concurrency via the version field.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pause",
                  "reason",
                  "version"
                ],
                "properties": {
                  "pause": {
                    "type": "boolean",
                    "description": "True to pause, false to unpause"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the state change"
                  },
                  "version": {
                    "type": "integer",
                    "description": "Optimistic concurrency version \u2014 must match current workspace version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace pause state updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "paused",
                    "version",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "paused": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}:sync": {
      "post": {
        "operationId": "sync_specs",
        "summary": "Sync specs from repo",
        "description": "Reads PENDING_*.md spec files from the repository's default branch and upserts them into the control plane. Returns the count of newly synced specs.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "synced_count",
                    "total_pending",
                    "specs",
                    "request_id"
                  ],
                  "properties": {
                    "synced_count": {
                      "type": "integer",
                      "description": "Number of specs synced in this request"
                    },
                    "total_pending": {
                      "type": "integer",
                      "description": "Total pending specs after sync"
                    },
                    "specs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SpecSummary"
                      },
                      "description": "List of synced spec summaries"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs": {
      "post": {
        "operationId": "start_run",
        "summary": "Start a spec-to-PR run",
        "description": "Queues a new run for the given workspace. Provide either spec_id (reference an existing spec) or spec_markdown (inline spec content), but not both. The idempotency_key ensures at-most-once execution.",
        "tags": [
          "Runs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspace_id",
                  "mode",
                  "requested_by",
                  "idempotency_key"
                ],
                "properties": {
                  "workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Target workspace"
                  },
                  "spec_id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "Reference to an existing spec. Mutually exclusive with spec_markdown."
                  },
                  "spec_markdown": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Inline spec content in Markdown. Mutually exclusive with spec_id."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "pull_request"
                    ],
                    "description": "Run mode \u2014 currently only pull_request is supported"
                  },
                  "requested_by": {
                    "type": "string",
                    "description": "Identity of the user or system that requested the run"
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "Client-generated key for at-most-once execution"
                  },
                  "base_commit_sha": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Pin the run to a specific base commit. Uses HEAD of default branch if null."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run_id",
                    "workspace_id",
                    "idempotency_key",
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "run_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "spec_id": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uuid"
                    },
                    "idempotency_key": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "list_runs",
        "summary": "List runs",
        "description": "Lists runs using Stripe-style keyset pagination. Pass starting_after (run_id of last item) to page forward.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "description": "Filter by workspace",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of runs to return",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "description": "Cursor for keyset pagination. Pass the run_id of the last item on the previous page.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RunSummary"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more results exist beyond this page"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Cursor to pass as starting_after for the next page"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}": {
      "get": {
        "operationId": "get_run",
        "summary": "Get run details",
        "description": "Returns full run details including state transitions, artifacts produced by each pipeline stage, and policy events.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run_id",
                    "workspace_id",
                    "spec_id",
                    "current_state",
                    "attempt",
                    "mode",
                    "requested_by",
                    "branch",
                    "created_at",
                    "updated_at",
                    "transitions",
                    "artifacts",
                    "policy_events",
                    "request_id"
                  ],
                  "properties": {
                    "run_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "spec_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "current_state": {
                      "type": "string",
                      "description": "Current pipeline state (e.g. SPEC_QUEUED, ECHO_RUNNING, PR_OPENED, FAILED)"
                    },
                    "attempt": {
                      "type": "integer",
                      "description": "Current attempt number (increments on retry)"
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "pull_request"
                      ]
                    },
                    "requested_by": {
                      "type": "string"
                    },
                    "branch": {
                      "type": "string",
                      "description": "Git branch created for this run"
                    },
                    "pr_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "Pull request URL, null until PR is opened"
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Unix timestamp in milliseconds"
                    },
                    "updated_at": {
                      "type": "integer",
                      "description": "Unix timestamp in milliseconds"
                    },
                    "transitions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transition"
                      },
                      "description": "Ordered list of state transitions"
                    },
                    "artifacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Artifact"
                      },
                      "description": "Artifacts produced during the run"
                    },
                    "policy_events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyEvent"
                      },
                      "description": "Policy evaluation events"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:retry": {
      "post": {
        "operationId": "retry_run",
        "summary": "Retry a run",
        "description": "Retries a blocked or failed run. Increments the attempt counter and re-queues from the last checkpoint.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason",
                  "retry_token"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the retry"
                  },
                  "retry_token": {
                    "type": "string",
                    "description": "Idempotency token for the retry operation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Retry queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run_id",
                    "state",
                    "attempt",
                    "request_id"
                  ],
                  "properties": {
                    "run_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string",
                      "example": "SPEC_QUEUED"
                    },
                    "attempt": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:replay": {
      "get": {
        "operationId": "replay_run",
        "summary": "Replay run events",
        "description": "Streams the complete event history of a finished run as Server-Sent Events. Useful for replaying a run's timeline in the UI.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE event stream of run history",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:stream": {
      "get": {
        "operationId": "stream_run",
        "summary": "Stream live run events",
        "description": "Streams live events for an in-progress run as Server-Sent Events. Connection stays open until the run completes or the client disconnects.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE event stream of live run progress",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:cancel": {
      "post": {
        "operationId": "cancel_run",
        "summary": "Cancel a run",
        "description": "Cancels a queued or in-progress run. The run transitions to CANCELLED state and any active pipeline stage is aborted.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run_id",
                    "state",
                    "request_id"
                  ],
                  "properties": {
                    "run_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string",
                      "const": "CANCELLED"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/credentials/llm": {
      "put": {
        "operationId": "put_llm_credential",
        "summary": "Set LLM credential",
        "description": "Stores or replaces the BYOK LLM API key for a workspace. The key is encrypted at rest and never returned in API responses.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "api_key"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "API key for the provider \u2014 encrypted at rest, never echoed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Credential stored"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "get_llm_credential",
        "summary": "Get LLM credential status",
        "description": "Returns whether a BYOK LLM key is configured for the workspace and which provider it belongs to. Never returns the actual key.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "has_key",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string",
                      "description": "Configured LLM provider name"
                    },
                    "has_key": {
                      "type": "boolean",
                      "description": "True if an API key is stored"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_llm_credential",
        "summary": "Delete LLM credential",
        "description": "Removes the stored BYOK LLM API key for the workspace. Future runs will fall back to platform-provided keys if available.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential deleted"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/skills/{skill_ref}/secrets/{key_name}": {
      "put": {
        "operationId": "put_skill_secret",
        "summary": "Set a skill secret",
        "description": "Stores a secret value for a specific skill in a workspace. Secrets are scoped to the skill and can be further scoped to host-only or sandbox-only access.",
        "tags": [
          "Skill Secrets"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "skill_ref",
            "in": "path",
            "required": true,
            "description": "Skill reference identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_name",
            "in": "path",
            "required": true,
            "description": "Secret key name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Secret value \u2014 encrypted at rest, never echoed"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "host",
                      "sandbox"
                    ],
                    "description": "Where the secret is available. Defaults to both if omitted."
                  },
                  "meta_json": {
                    "type": "string",
                    "description": "Optional JSON metadata for the secret (e.g. expiry, rotation info)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Secret stored"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_skill_secret",
        "summary": "Delete a skill secret",
        "description": "Removes a specific secret for a skill in a workspace.",
        "tags": [
          "Skill Secrets"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "skill_ref",
            "in": "path",
            "required": true,
            "description": "Skill reference identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_name",
            "in": "path",
            "required": true,
            "description": "Secret key name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Secret deleted"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "operationId": "list_platform_keys",
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no BYOK key is configured.",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Platform key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys",
                    "request_id"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformKey"
                      }
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_platform_key",
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a BYOK key stored. The platform key proxies through the referenced workspace's credential.",
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "source_workspace_id"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "source_workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Workspace whose BYOK key to use as the platform key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Platform key configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "source_workspace_id",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "source_workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "operationId": "delete_platform_key",
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without BYOK keys will no longer be able to use this provider.",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "LLM provider name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean",
                      "const": false
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/scale": {
      "post": {
        "operationId": "scale_billing",
        "summary": "Upgrade billing plan",
        "description": "Upgrades a workspace's billing plan by linking a payment provider subscription. The workspace's plan tier and billing status are updated immediately.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subscription_id"
                ],
                "properties": {
                  "subscription_id": {
                    "type": "string",
                    "description": "Payment provider subscription identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing plan updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "plan_tier",
                    "billing_status",
                    "plan_sku",
                    "subscription_id",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "plan_tier": {
                      "type": "string",
                      "description": "New plan tier (e.g. free, pro, enterprise)"
                    },
                    "billing_status": {
                      "type": "string",
                      "description": "Current billing status"
                    },
                    "plan_sku": {
                      "type": "string",
                      "description": "Plan SKU identifier"
                    },
                    "subscription_id": {
                      "type": "string",
                      "description": "Payment provider subscription ID"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/events": {
      "post": {
        "operationId": "billing_event",
        "summary": "Record a billing event",
        "description": "Records a billing lifecycle event such as a payment failure or downgrade. The workspace's billing status is updated accordingly.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_type",
                  "reason"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "PAYMENT_FAILED",
                      "DOWNGRADE_TO_FREE"
                    ],
                    "description": "Type of billing event"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the event"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing event recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "billing_status",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "billing_status": {
                      "type": "string",
                      "description": "Updated billing status"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/summary": {
      "get": {
        "operationId": "get_billing_summary",
        "summary": "Get billing summary",
        "description": "Returns a billing breakdown for a workspace: run counts grouped by lifecycle event (completed, non-billable, score-gated), plus total agent seconds and average score for gated runs. Filterable by period.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "90d"
              ],
              "default": "30d"
            },
            "description": "Time period for the summary window"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing summary for the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "period_days",
                    "period_start_ms",
                    "period_end_ms",
                    "completed",
                    "non_billable",
                    "non_billable_score_gated",
                    "total_runs",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string"
                    },
                    "period_days": {
                      "type": "integer"
                    },
                    "period_start_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "period_end_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "completed": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "agent_seconds": {
                          "type": "integer"
                        }
                      }
                    },
                    "non_billable": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "non_billable_score_gated": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "avg_score": {
                          "type": "integer"
                        }
                      }
                    },
                    "total_runs": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:interrupt": {
      "post": {
        "operationId": "interrupt_run",
        "summary": "Interrupt a running agent",
        "description": "Sends a steering message to a running agent without aborting it. The agent absorbs the message and adjusts course at the next gate checkpoint (queued) or mid-turn (instant). Last-write-wins: if two interrupts arrive before the next checkpoint, the second overwrites the first.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096,
                    "description": "The steering message to deliver to the agent"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "queued",
                      "instant"
                    ],
                    "default": "queued",
                    "description": "Delivery mode. queued: picked up at next gate checkpoint. instant: injected mid-turn via executor IPC (falls back to queued if executor is unavailable)."
                  }
                }
              },
              "example": {
                "message": "Focus on the billing endpoint, skip auth refactor",
                "mode": "queued"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interrupt acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ack",
                    "mode",
                    "request_id"
                  ],
                  "properties": {
                    "ack": {
                      "type": "boolean",
                      "const": true
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "instant"
                      ],
                      "description": "The effective delivery mode (may differ from requested if instant fell back to queued)"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Run is not in an interruptible state (terminal, BLOCKED, PR_OPENED, or NOTIFIED)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/{zombie_id}": {
      "post": {
        "operationId": "receive_webhook",
        "summary": "Deliver an inbound webhook event to a Zombie",
        "description": "Delivers an inbound event to the Zombie identified by `zombie_id`. The Zombie is looked up by primary key \u2014 no JSONB traversal, no source-name uniqueness required. Bearer token is validated against the Zombie's `trigger.token` (omit if no token configured). Duplicate events (same `event_id` within 24 h) return 200 `{status: \"duplicate\"}`. A new event is enqueued to the Zombie's Redis stream and returns 202.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the target Zombie. Obtained from `POST /v1/zombies` or `zombiectl up`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_id",
                  "type",
                  "data"
                ],
                "properties": {
                  "event_id": {
                    "type": "string",
                    "description": "Unique identifier for this event. Used for idempotency deduplication (24-hour window)."
                  },
                  "type": {
                    "type": "string",
                    "description": "Event type label (e.g. `email.received`, `push`, `payment.succeeded`)."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Event payload \u2014 any JSON object. Passed as-is into the Zombie event loop."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Event accepted and enqueued for the Zombie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "event_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "accepted"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Duplicate event \u2014 already processed within the 24-hour dedup window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "duplicate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed payload \u2014 missing `event_id` or `type`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "No active Zombie is configured for this source (UZ-WH-001).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Zombie exists but is paused or stopped (UZ-WH-003).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "/v1/memory/store": {
    "post": {
      "summary": "Store a memory entry",
      "description": "Store or upsert a key-value memory entry for a zombie. On conflict (same key + zombie), the content and category are updated.",
      "operationId": "memoryStore",
      "tags": ["Memory"],
      "security": [{"BearerAuth": []}],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["zombie_id", "key", "content"],
              "properties": {
                "zombie_id": {"type": "string", "format": "uuid", "description": "UUIDv7 of the target zombie"},
                "key": {"type": "string", "minLength": 1, "maxLength": 255, "description": "Memory entry key"},
                "content": {"type": "string", "minLength": 1, "maxLength": 16384, "description": "Memory entry content"},
                "category": {"type": "string", "enum": ["core", "daily", "conversation", "workspace"], "default": "core", "description": "Memory category"}
              }
            }
          }
        }
      },
      "responses": {
        "201": {
          "description": "Memory entry stored",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zombie_id": {"type": "string"},
                  "key": {"type": "string"},
                  "category": {"type": "string"},
                  "request_id": {"type": "string"}
                }
              }
            }
          }
        },
        "400": {"$ref": "#/components/responses/Error"},
        "401": {"$ref": "#/components/responses/Error"},
        "403": {"$ref": "#/components/responses/Error"},
        "404": {"$ref": "#/components/responses/Error"},
        "503": {"$ref": "#/components/responses/Error"}
      }
    }
  },
  "/v1/memory/recall": {
    "post": {
      "summary": "Recall memory entries by keyword",
      "description": "Search a zombie's memory entries by keyword. Matches against key and content using ILIKE. Uses POST (not GET) because the query parameters are carried in the request body — HTTP caching does not apply to this endpoint.",
      "operationId": "memoryRecall",
      "tags": ["Memory"],
      "security": [{"BearerAuth": []}],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["zombie_id", "query"],
              "properties": {
                "zombie_id": {"type": "string", "format": "uuid", "description": "UUIDv7 of the target zombie"},
                "query": {"type": "string", "minLength": 1, "description": "Keyword to search in key and content"},
                "limit": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20, "description": "Maximum entries to return"}
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Matching memory entries",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zombie_id": {"type": "string"},
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {"type": "string"},
                        "content": {"type": "string"},
                        "category": {"type": "string"},
                        "updated_at": {"type": "string", "description": "Unix epoch seconds as string"}
                      }
                    }
                  },
                  "count": {"type": "integer"},
                  "request_id": {"type": "string"}
                }
              }
            }
          }
        },
        "400": {"$ref": "#/components/responses/Error"},
        "401": {"$ref": "#/components/responses/Error"},
        "403": {"$ref": "#/components/responses/Error"},
        "404": {"$ref": "#/components/responses/Error"},
        "503": {"$ref": "#/components/responses/Error"}
      }
    }
  },
  "/v1/memory/list": {
    "post": {
      "summary": "List memory entries for a zombie",
      "description": "List all memory entries for a zombie, optionally filtered by category. Uses POST (not GET) because the filter parameters are carried in the request body — HTTP caching does not apply to this endpoint.",
      "operationId": "memoryList",
      "tags": ["Memory"],
      "security": [{"BearerAuth": []}],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["zombie_id"],
              "properties": {
                "zombie_id": {"type": "string", "format": "uuid", "description": "UUIDv7 of the target zombie"},
                "category": {"type": "string", "enum": ["core", "daily", "conversation", "workspace"], "description": "Filter by category (omit for all)"},
                "limit": {"type": "integer", "minimum": 1, "maximum": 100, "default": 100, "description": "Maximum entries to return"}
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Memory entries",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zombie_id": {"type": "string"},
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {"type": "string"},
                        "content": {"type": "string"},
                        "category": {"type": "string"},
                        "updated_at": {"type": "string"}
                      }
                    }
                  },
                  "count": {"type": "integer"},
                  "request_id": {"type": "string"}
                }
              }
            }
          }
        },
        "400": {"$ref": "#/components/responses/Error"},
        "401": {"$ref": "#/components/responses/Error"},
        "403": {"$ref": "#/components/responses/Error"},
        "404": {"$ref": "#/components/responses/Error"},
        "503": {"$ref": "#/components/responses/Error"}
      }
    }
  },
  "/v1/memory/forget": {
    "post": {
      "summary": "Forget a memory entry",
      "description": "Delete a specific memory entry by key for a zombie. Idempotent — returns deleted=false if the entry did not exist.",
      "operationId": "memoryForget",
      "tags": ["Memory"],
      "security": [{"BearerAuth": []}],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["zombie_id", "key"],
              "properties": {
                "zombie_id": {"type": "string", "format": "uuid", "description": "UUIDv7 of the target zombie"},
                "key": {"type": "string", "minLength": 1, "maxLength": 255, "description": "Memory entry key to delete"}
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Forget operation result",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zombie_id": {"type": "string"},
                  "key": {"type": "string"},
                  "deleted": {"type": "boolean", "description": "true if the entry existed and was deleted; false if it did not exist"},
                  "request_id": {"type": "string"}
                }
              }
            }
          }
        },
        "400": {"$ref": "#/components/responses/Error"},
        "401": {"$ref": "#/components/responses/Error"},
        "403": {"$ref": "#/components/responses/Error"},
        "404": {"$ref": "#/components/responses/Error"},
        "503": {"$ref": "#/components/responses/Error"}
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Obtain a token via the CLI auth flow (POST /v1/auth/sessions) or GitHub OAuth"
      }
    },
    "schemas": {
      "ReadyzBody": {
        "type": "object",
        "description": "Response body for GET /readyz. Identical shape for both 200 (healthy) and 503 (degraded) responses — only the boolean values differ.",
        "required": [
          "ready",
          "database",
          "queue"
        ],
        "properties": {
          "ready": {
            "type": "boolean",
            "description": "Overall readiness — true only when every dependency is healthy. Mirrors the HTTP status (true ↔ 200, false ↔ 503)."
          },
          "database": {
            "type": "boolean",
            "description": "True if the PostgreSQL connection pool is reachable and a trivial query succeeds"
          },
          "queue": {
            "type": "boolean",
            "description": "True if the Redis queue backend is reachable"
          }
        },
        "additionalProperties": false
      },
      "Transition": {
        "type": "object",
        "description": "A state transition in the run pipeline",
        "properties": {
          "state_from": {
            "type": "string",
            "description": "State before the transition"
          },
          "state_to": {
            "type": "string",
            "description": "State after the transition"
          },
          "actor": {
            "type": "string",
            "description": "Pipeline stage or user that triggered the transition"
          },
          "reason_code": {
            "type": "string",
            "description": "Machine-readable reason for the transition"
          },
          "ts": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "Artifact": {
        "type": "object",
        "description": "An artifact produced during a run (e.g. plan, diff, review)",
        "properties": {
          "artifact_name": {
            "type": "string",
            "description": "Human-readable artifact name"
          },
          "object_key": {
            "type": "string",
            "description": "Git path: docs/runs/<run_id>/<name>"
          },
          "checksum_sha256": {
            "type": "string",
            "description": "SHA-256 checksum of the artifact content"
          },
          "producer": {
            "type": "string",
            "enum": [
              "echo",
              "scout",
              "warden",
              "orchestrator"
            ],
            "description": "Pipeline stage that produced the artifact"
          },
          "attempt": {
            "type": "integer",
            "description": "Run attempt number that produced this artifact"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "PolicyEvent": {
        "type": "object",
        "description": "A policy evaluation event from the Warden stage",
        "properties": {
          "action_class": {
            "type": "string",
            "enum": [
              "safe",
              "sensitive",
              "critical"
            ],
            "description": "Classification of the action being evaluated"
          },
          "decision": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "require_confirmation"
            ],
            "description": "Policy decision"
          },
          "rule_id": {
            "type": "string",
            "description": "Identifier of the policy rule that matched"
          },
          "actor": {
            "type": "string",
            "description": "Pipeline stage that triggered the policy check"
          },
          "ts": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "SpecSummary": {
        "type": "object",
        "description": "Summary of a spec document",
        "properties": {
          "spec_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique spec identifier"
          },
          "file_path": {
            "type": "string",
            "description": "Path to the spec file in the repository"
          },
          "title": {
            "type": "string",
            "description": "Spec title extracted from the document"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "done",
              "failed"
            ],
            "description": "Current spec lifecycle status"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          },
          "updated_at": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "RunSummary": {
        "type": "object",
        "description": "Summary of a run for list views",
        "properties": {
          "run_id": {
            "type": "string",
            "format": "uuid"
          },
          "workspace_id": {
            "type": "string",
            "format": "uuid"
          },
          "spec_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "description": "Current pipeline state"
          },
          "attempt": {
            "type": "integer",
            "description": "Current attempt number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "pull_request"
            ]
          },
          "requested_by": {
            "type": "string"
          },
          "pr_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Pull request URL, null until PR is opened"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          },
          "updated_at": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "AgentProfile": {
        "type": "object",
        "description": "Agent profile including trust and improvement metadata",
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Human-readable agent name"
          },
          "status": {
            "type": "string",
            "description": "Agent operational status"
          },
          "workspace_id": {
            "type": "string",
            "format": "uuid"
          },
          "trust_level": {
            "type": "string",
            "description": "Current trust level (e.g. low, medium, high)"
          },
          "trust_streak_runs": {
            "type": "integer",
            "description": "Number of consecutive successful runs contributing to trust"
          },
          "improvement_stalled_warning": {
            "type": "boolean",
            "description": "True if the agent's self-improvement has plateaued"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Proposal": {
        "type": "object",
        "description": "An agent self-tuning proposal \u2014 a suggested change to the agent configuration",
        "properties": {
          "proposal_id": {
            "type": "string",
            "format": "uuid"
          },
          "trigger_reason": {
            "type": "string",
            "description": "Why the agent generated this proposal"
          },
          "proposed_changes": {
            "type": "string",
            "description": "Description of the proposed configuration changes"
          },
          "config_version_id": {
            "type": "string",
            "format": "uuid",
            "description": "Config version this proposal targets"
          },
          "approval_mode": {
            "type": "string",
            "description": "Whether the proposal requires manual approval or can auto-apply"
          },
          "status": {
            "type": "string",
            "description": "Proposal lifecycle status (e.g. PENDING, APPLIED, REJECTED, VETOED)"
          },
          "auto_apply_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp when the proposal will auto-apply, null if manual approval required"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformKey": {
        "type": "object",
        "description": "A platform-wide LLM provider key configuration",
        "properties": {
          "provider": {
            "type": "string",
            "description": "LLM provider name"
          },
          "source_workspace_id": {
            "type": "string",
            "format": "uuid",
            "description": "Workspace whose BYOK key is used"
          },
          "active": {
            "type": "boolean",
            "description": "Whether this platform key is active"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentRelayRequest": {
        "type": "object",
        "description": "Request body for Agent Relay LLM endpoints (spec template and preview). The workspace_id is provided via the path parameter.",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "description": "Conversation messages for the LLM",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant",
                    "system"
                  ],
                  "description": "Message role"
                },
                "content": {
                  "type": "string",
                  "description": "Message content"
                }
              }
            }
          },
          "tools": {
            "type": "array",
            "description": "Optional tool definitions for the LLM to use during generation",
            "items": {
              "type": "object",
              "required": [
                "name",
                "description",
                "input_schema"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Tool name"
                },
                "description": {
                  "type": "string",
                  "description": "What the tool does"
                },
                "input_schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "JSON Schema for the tool's input"
                }
              }
            }
          }
        }
      },
      "ErrorBody": {
        "type": "object",
        "description": "RFC 7807 problem detail error response (application/problem+json)",
        "required": [
          "docs_uri",
          "title",
          "detail",
          "error_code",
          "request_id"
        ],
        "properties": {
          "docs_uri": {
            "type": "string",
            "format": "uri",
            "description": "Stable link to documentation for this error code",
            "example": "https://docs.usezombie.com/error-codes#UZ-ZMB-009"
          },
          "title": {
            "type": "string",
            "description": "Short human-readable label, same for every occurrence of this code",
            "example": "Zombie not found"
          },
          "detail": {
            "type": "string",
            "description": "Instance-specific context describing what went wrong",
            "example": "No zombie with id 'abc123' in this workspace."
          },
          "error_code": {
            "type": "string",
            "description": "Machine-readable error code",
            "example": "UZ-ZMB-009"
          },
          "request_id": {
            "type": "string",
            "description": "Correlation ID for this request"
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "RFC 7807 problem detail error response",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      }
    }
  }
}
