{
  "openapi": "3.1.0",
  "info": {
    "title": "UseZombie Control Plane API",
    "version": "1.0.0",
    "description": "Zombie automation control plane — webhook-driven agent execution in a bwrap+landlock sandbox.",
    "contact": {
      "name": "UseZombie",
      "url": "https://usezombie.com"
    }
  },
  "servers": [
    {
      "url": "https://api.usezombie.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "System status and readiness probes",
      "x-mintlify": {
        "navigation": "Health"
      }
    },
    {
      "name": "Authentication",
      "description": "CLI login flow via device-code style sessions and GitHub OAuth",
      "x-mintlify": {
        "navigation": "Authentication"
      }
    },
    {
      "name": "Workspaces",
      "description": "Create and manage workspaces (one workspace per repo)",
      "x-mintlify": {
        "navigation": "Workspaces"
      }
    },
    {
      "name": "Tenant",
      "description": "Tenant-scoped surfaces — provider posture, doctor, and tenant-level configuration",
      "x-mintlify": {
        "navigation": "Tenant"
      }
    },
    {
      "name": "Runs",
      "description": "Core spec-to-PR pipeline — queue, monitor, stream, retry, and cancel runs",
      "x-mintlify": {
        "navigation": "Runs"
      }
    },
    {
      "name": "Zombies",
      "description": "Zombie management and webhook ingestion — create, configure, and operate event-driven Zombies",
      "x-mintlify": {
        "navigation": "Zombies"
      }
    },
    {
      "name": "Memory",
      "description": "Persistent zombie memory — store, recall, list, and forget key-value entries scoped to a zombie",
      "x-mintlify": {
        "navigation": "Memory"
      }
    },
    {
      "name": "Credentials",
      "description": "BYOK (Bring Your Own Key) LLM provider credentials",
      "x-mintlify": {
        "navigation": "Credentials"
      }
    },
    {
      "name": "Admin",
      "description": "Platform-wide configuration — manage shared LLM provider keys",
      "x-mintlify": {
        "navigation": "Admin"
      }
    },
    {
      "name": "Billing",
      "description": "Plan upgrades and billing events",
      "x-mintlify": {
        "navigation": "Billing"
      }
    },
    {
      "name": "Integration Grants",
      "description": "Zombie runtime permission grants for third-party services (Slack, GitHub, etc.)",
      "x-mintlify": {
        "navigation": "Integration Grants"
      }
    },
    {
      "name": "Agent Keys",
      "description": "Per-zombie API keys for LangGraph/CrewAI/Composio agents to call the Execute endpoint. Workspace-scoped.",
      "x-mintlify": {
        "navigation": "Agent Keys"
      }
    },
    {
      "name": "API Keys",
      "description": "Tenant-level admin API keys (`zmb_t_` prefix). Rotatable, self-service, replace the legacy `API_KEY` env var for admin auth.",
      "x-mintlify": {
        "navigation": "API Keys"
      }
    },
    {
      "name": "Execute",
      "description": "Synchronous tool execution proxy for external agents",
      "x-mintlify": {
        "navigation": "Execute"
      }
    },
    {
      "name": "Slack",
      "description": "Slack OAuth install flow and inbound events/interactions webhooks",
      "x-mintlify": {
        "navigation": "Slack"
      }
    },
    {
      "name": "Webhooks",
      "description": "Approval-gate webhooks invoked by humans to unblock a paused zombie",
      "x-mintlify": {
        "navigation": "Webhooks"
      }
    },
    {
      "name": "Telemetry",
      "description": "Per-zombie execution telemetry and internal operator telemetry",
      "x-mintlify": {
        "navigation": "Telemetry"
      }
    },
    {
      "name": "Approvals",
      "description": "Approval-gate inbox — list, inspect, and resolve pending gates from the dashboard or programmatically.",
      "x-mintlify": {
        "navigation": "Approvals"
      }
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Liveness check",
        "description": "Returns 200 as long as the process is alive and able to serve HTTP. Does not probe dependencies — use /readyz for readiness (database + queue).",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Process is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "commit",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok",
                      "description": "Always \"ok\" for a live process"
                    },
                    "service": {
                      "type": "string",
                      "const": "zombied",
                      "description": "Service identifier"
                    },
                    "commit": {
                      "type": "string",
                      "description": "Git commit SHA of the running build"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/telemetry": {
      "get": {
        "operationId": "internal_telemetry",
        "summary": "Internal operator telemetry",
        "description": "Admin-only platform health snapshot — in-flight request counts, queue depth, error rates. Requires the admin API key, not a user bearer token.",
        "tags": [
          "Telemetry"
        ],
        "responses": {
          "200": {
            "description": "Operator telemetry snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_in_flight_requests": {
                      "type": "integer"
                    },
                    "api_max_in_flight_requests": {
                      "type": "integer"
                    },
                    "queue_depth": {
                      "type": "integer",
                      "nullable": true
                    },
                    "queue_age_ms": {
                      "type": "integer",
                      "nullable": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "metrics",
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-format metrics for scraping by monitoring infrastructure.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus text exposition format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "summary": "Readiness probe",
        "description": "Kubernetes-style readiness probe. Returns 200 when both the database and the Redis queue are reachable; returns 503 fail-closed if either dependency is degraded.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Both dependencies healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          },
          "503": {
            "description": "At least one dependency is degraded; ready=false and the failing dependency's boolean is false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "operationId": "list_platform_keys",
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no BYOK key is configured.",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Platform key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys",
                    "request_id"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformKey"
                      }
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_platform_key",
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a BYOK key stored. The platform key proxies through the referenced workspace's credential.",
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "source_workspace_id"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "source_workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Workspace whose BYOK key to use as the platform key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Platform key configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "source_workspace_id",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "source_workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "operationId": "delete_platform_key",
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without BYOK keys will no longer be able to use this provider.",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "LLM provider name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean",
                      "const": false
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "operationId": "create_auth_session",
        "summary": "Start a CLI login session",
        "description": "Creates a device-code style auth session. Returns a session ID and a login URL to present to the user in their browser.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "responses": {
          "201": {
            "description": "Auth session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "session_id",
                    "login_url",
                    "request_id"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Session identifier for polling"
                    },
                    "login_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to open in the user's browser to complete authentication"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "operationId": "poll_auth_session",
        "summary": "Poll auth session status",
        "description": "Polls a pending auth session. The CLI calls this repeatedly until status transitions to 'complete' (token available) or 'expired'.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auth session status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "complete",
                        "expired"
                      ],
                      "description": "Current session status"
                    },
                    "token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Bearer token, present only when status is 'complete'"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "patch_auth_session",
        "summary": "Patch an auth session",
        "description": "Called by the web frontend after successful OAuth to attach a token to the pending session and transition its status to 'complete'. The CLI's next poll will receive the token. Body mirrors the GET poll response shape so the depositor can read back what a subsequent poll would return.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "const": "complete",
                    "description": "Session transition target. Only 'complete' is legal from 'pending'."
                  },
                  "token": {
                    "type": "string",
                    "description": "Bearer token from OAuth flow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "token",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "complete"
                    },
                    "token": {
                      "type": "string",
                      "description": "Bearer token now attached to the session"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/execute": {
      "post": {
        "operationId": "execute_tool",
        "summary": "Execute a tool on behalf of an external agent",
        "description": "Synchronous tool execution proxy. The external agent calls this endpoint with its API key (bearer), names a tool, and receives the tool's result inline. Used by LangGraph / CrewAI / Composio integrations.",
        "tags": [
          "Execute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target",
                  "method",
                  "credential_ref"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "format": "uri",
                    "description": "Target URL for the outbound call."
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE"
                    ],
                    "description": "HTTP method to use against the target."
                  },
                  "credential_ref": {
                    "type": "string",
                    "description": "Named credential from the workspace vault to inject on the outbound request."
                  },
                  "body": {
                    "type": "string",
                    "nullable": true,
                    "description": "Request body to forward to the target. Null for GET/DELETE."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed; upstream status and body are returned plus UseZombie metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "body",
                    "usezombie"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status returned by the upstream target."
                    },
                    "body": {
                      "type": "string",
                      "description": "Response body returned by the upstream target (as string)."
                    },
                    "usezombie": {
                      "type": "object",
                      "required": [
                        "action_id",
                        "firewall_decision",
                        "credential_injected",
                        "approval_required"
                      ],
                      "properties": {
                        "action_id": {
                          "type": "string"
                        },
                        "firewall_decision": {
                          "type": "string",
                          "enum": [
                            "allow",
                            "deny",
                            "approval_required"
                          ]
                        },
                        "credential_injected": {
                          "type": "boolean"
                        },
                        "approval_required": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}/memories": {
      "get": {
        "operationId": "list_zombie_memories",
        "summary": "List or search memory entries for a zombie",
        "description": "Returns memory entries for the zombie. Without `query` this lists most-recent entries (optionally filtered by `category`). With `query`, performs case-insensitive LIKE search across both `key` and `content` (LIKE metacharacters in `query` are escaped — a query of `%` does NOT return every entry).\n",
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Fuzzy text search across key and content. When omitted, the endpoint lists most-recent entries.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MemoryEntry"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "store_zombie_memory",
        "summary": "Store or upsert a memory entry",
        "description": "Writes a `(key, content, category)` entry scoped to the zombie. Idempotent upsert on `(key, instance_id)`.",
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "content"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 16384
                  },
                  "category": {
                    "type": "string",
                    "default": "core"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}/memories/{memory_key}": {
      "delete": {
        "operationId": "delete_zombie_memory",
        "summary": "Forget a memory entry by key",
        "description": "Removes the entry at `(zombie_id, memory_key)` if present. Strictly idempotent — returns 204 whether the key existed or not.",
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "memory_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content (idempotent — returned whether the key existed or not)"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/clerk": {
      "post": {
        "operationId": "clerk_webhook",
        "summary": "Clerk signup webhook",
        "description": "Ingress for Clerk `user.created` events delivered via Svix. The signature is verified inline against `CLERK_WEBHOOK_SECRET`; on success the handler atomically provisions a personal account (tenant + user + owner membership + default workspace + 0-cent credit state + audit row). Idempotent on `oidc_subject` — replays return `created:false` with no new rows. Non-`user.created` event types are 200-ignored so Clerk stops retrying them.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "svix-id",
            "in": "header",
            "required": true,
            "description": "Svix message identifier (used for deduplication and signature binding).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix timestamp of the Svix delivery (used for replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated list of Svix v1 signatures.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "data"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Clerk event type. Only `user.created` triggers a bootstrap; other types return 200 ignored."
                  },
                  "data": {
                    "type": "object",
                    "description": "Clerk user payload. The handler reads `id`, `email_addresses`, `primary_email_address_id`, `first_name`, and `last_name`; unknown fields are tolerated.",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account bootstrapped (fresh or replayed). `created` is `true` on first delivery and `false` on every subsequent replay of the same `oidc_subject`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUIDv7 of the newly provisioned default workspace (or the existing one on replay)."
                    },
                    "workspace_name": {
                      "type": "string",
                      "description": "Heroku-style workspace name, e.g. `jolly-harbor-482`."
                    },
                    "created": {
                      "type": "boolean",
                      "description": "`true` on fresh bootstrap; `false` on idempotent replay."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/svix/{zombie_id}": {
      "post": {
        "operationId": "receive_svix_webhook",
        "summary": "Receive a Svix-signed webhook (Clerk events)",
        "description": "Ingress endpoint for Svix-signed webhooks (e.g. Clerk user lifecycle events). Signature is verified by the webhook auth middleware against the workspace's Svix secret before the handler runs. Body shape is event-specific and defined by the upstream issuer; the server validates the envelope and dispatches to the zombie's event log.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie receiving the webhook.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "svix-id",
            "in": "header",
            "required": true,
            "description": "Svix message identifier (used for deduplication and signature binding).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix timestamp of the Svix delivery (used for replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated list of Svix signatures (v1 scheme).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Opaque event envelope; upstream issuer (Svix) defines the payload shape per event type.",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Webhook accepted and queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "accepted"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{zombie_id}": {
      "post": {
        "operationId": "receive_webhook",
        "summary": "Deliver an inbound webhook event to a Zombie",
        "description": "Delivers an inbound event to the Zombie identified by `zombie_id`. The Zombie is looked up by primary key — no JSONB traversal, no source-name uniqueness required. The body MUST be HMAC-SHA256 signed with the workspace credential keyed by the Zombie's `trigger.source` (e.g. vault row `zombie:linear`, field `webhook_secret`). The provider-specific signature header (`x-hub-signature-256` for GitHub, `x-slack-signature` for Slack, etc.) is verified upstream by the `webhook_sig` middleware; this handler runs only after the HMAC is valid. There is no Bearer fallback — every inbound webhook MUST be signed. Duplicate events (same `event_id` within 24 h) return 200 `{status: \"duplicate\"}`. A new event is enqueued to the Zombie's Redis stream and returns 202.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the target Zombie. Obtained from `POST /v1/workspaces/{workspace_id}/zombies` or `zombiectl install --from <path>`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_id",
                  "type",
                  "data"
                ],
                "properties": {
                  "event_id": {
                    "type": "string",
                    "description": "Unique identifier for this event. Used for idempotency deduplication (24-hour window)."
                  },
                  "type": {
                    "type": "string",
                    "description": "Event type label (e.g. `email.received`, `push`, `payment.succeeded`)."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Event payload — any JSON object. Passed as-is into the Zombie event loop."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate event — already processed within the 24-hour dedup window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "duplicate"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Event accepted and enqueued for the Zombie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "event_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "accepted"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed payload — missing `event_id` or `type`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Webhook auth failure. Three distinct codes: `UZ-WH-020 webhook_credential_not_configured` (zombie has no recognized provider, OR the workspace has no matching `zombie:<source>` vault credential, OR the credential JSON has no `webhook_secret` field — this is the operator-recoverable misconfig path); `UZ-WH-010 invalid_signature` (provider + secret are configured but the request is unsigned, mis-signed, or the body was tampered with); `UZ-WH-011 stale_timestamp` (Slack-style schemes with timestamp drift > 5 min).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "No active Zombie is configured for this source (UZ-WH-001).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Zombie exists but is paused or stopped (UZ-WH-003).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{zombie_id}/approval": {
      "post": {
        "operationId": "approval_webhook",
        "summary": "Resolve a zombie approval gate",
        "description": "Called by a human (via email link or Slack action) to approve or reject a paused zombie. Body is HMAC-signed by the issuer; the signature is verified against the zombie's webhook secret.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "decision",
                  "signature"
                ],
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected"
                    ]
                  },
                  "signature": {
                    "type": "string",
                    "description": "HMAC signature over the body."
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{zombie_id}/grant-approval": {
      "post": {
        "operationId": "grant_approval_webhook",
        "summary": "Approve or reject an integration grant request",
        "description": "Human-in-the-loop approval webhook for integration grant requests (Slack, GitHub, etc.). HMAC-signed.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_id",
                  "decision",
                  "signature"
                ],
                "properties": {
                  "grant_id": {
                    "type": "string"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected"
                    ]
                  },
                  "signature": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{zombie_id}/github": {
      "post": {
        "operationId": "github_webhook",
        "summary": "Ingest a GitHub Actions webhook",
        "description": "GitHub `workflow_run` webhook receiver. Body is HMAC-SHA256 signed (X-Hub-Signature-256) against the workspace's `zombie:github` credential `webhook_secret` field. Only `action=completed` with `conclusion=failure` is XADDed to the zombie event stream; other events return 204. Idempotency keyed on `X-GitHub-Delivery` for 24h.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie that owns this webhook receiver.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-GitHub-Event",
            "in": "header",
            "required": true,
            "description": "GitHub event type. Only `workflow_run` is ingested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-GitHub-Delivery",
            "in": "header",
            "required": true,
            "description": "GitHub-issued delivery UUID. Used as the dedupe key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hub-Signature-256",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 of the raw body, prefixed with `sha256=`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Raw GitHub webhook payload — see https://docs.github.com/en/webhooks/webhook-events-and-payloads#workflow_run."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate delivery (idempotency hit) or event ignored (non-workflow_run, non-completed action, or non-failure conclusion). Body distinguishes the two via the `deduped` or `ignored` field.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deduped": {
                      "type": "boolean"
                    },
                    "ignored": {
                      "type": "string",
                      "description": "Reason the event was filtered out (e.g. `non_failure_conclusion`)."
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Event accepted and enqueued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "summary": "Create a workspace",
        "description": "Creates a new workspace linked to a GitHub repository. Returns the workspace ID and a GitHub App install URL if the app is not yet installed on the repo.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo_url"
                ],
                "properties": {
                  "repo_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Full GitHub repository URL (e.g. https://github.com/org/repo)"
                  },
                  "default_branch": {
                    "type": "string",
                    "description": "Default branch name, defaults to 'main' if omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "repo_url",
                    "default_branch",
                    "install_url",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique workspace identifier"
                    },
                    "repo_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Repository URL"
                    },
                    "default_branch": {
                      "type": "string",
                      "description": "Default branch for the workspace"
                    },
                    "install_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "GitHub App installation URL — direct user here if the app is not yet installed"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/billing": {
      "get": {
        "operationId": "get_tenant_billing",
        "summary": "Tenant billing snapshot",
        "description": "Returns the tenant-scoped billing row created at signup. The single row carries the plan tier, SKU, and free-credit balance shared across every workspace the tenant owns. Debited by the worker as zombie runs complete.\n",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Tenant billing snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "plan_tier",
                    "plan_sku",
                    "balance_cents",
                    "updated_at",
                    "is_exhausted",
                    "exhausted_at"
                  ],
                  "properties": {
                    "plan_tier": {
                      "type": "string",
                      "description": "Plan tier (free, scale)"
                    },
                    "plan_sku": {
                      "type": "string",
                      "description": "Plan SKU identifier"
                    },
                    "balance_cents": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Remaining free-credit balance in cents"
                    },
                    "updated_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Last update time (epoch ms)"
                    },
                    "is_exhausted": {
                      "type": "boolean",
                      "description": "True once the balance has hit zero on a worker debit."
                    },
                    "exhausted_at": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "description": "Epoch ms of the first exhausting debit. Null until the balance is exhausted."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/billing/charges": {
      "get": {
        "operationId": "get_tenant_billing_charges",
        "summary": "Tenant credit-pool charges",
        "description": "Returns the newest-first slice of `zombie_execution_telemetry` rows for the caller's tenant. Two rows per event under the credit-pool model (`charge_type` ∈ `receive`, `stage`); the dashboard groups them by `event_id` to show one line per event with both charges. Limit-only paging is sufficient for the v2.0 Settings → Billing Usage tab; deeper history pages with Stripe billing in v2.1.\n",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (1–200, default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newest-first telemetry rows scoped to the caller's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "tenant_id",
                          "workspace_id",
                          "zombie_id",
                          "event_id",
                          "charge_type",
                          "posture",
                          "model",
                          "credit_deducted_cents",
                          "recorded_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "tenant_id": {
                            "type": "string"
                          },
                          "workspace_id": {
                            "type": "string"
                          },
                          "zombie_id": {
                            "type": "string"
                          },
                          "event_id": {
                            "type": "string"
                          },
                          "charge_type": {
                            "type": "string",
                            "enum": [
                              "receive",
                              "stage"
                            ]
                          },
                          "posture": {
                            "type": "string",
                            "enum": [
                              "platform",
                              "byok"
                            ]
                          },
                          "model": {
                            "type": "string"
                          },
                          "credit_deducted_cents": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "token_count_input": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "token_count_output": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "wall_ms": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "recorded_at": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/workspaces": {
      "get": {
        "operationId": "list_tenant_workspaces",
        "summary": "List every workspace the caller's tenant owns",
        "description": "Returns the full set of workspaces owned by the caller's tenant. Backs the dashboard workspace switcher: a user can switch to any workspace in this list without re-issuing the JWT, because workspace authorisation is tenant-scoped. No pagination — a tenant's workspace count is bounded and small in practice.\n",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "UUIDv7 of the workspace."
                          },
                          "name": {
                            "type": "string",
                            "nullable": true,
                            "description": "Human-readable workspace name. Nullable — pre-rename workspaces may not have one."
                          },
                          "created_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Workspace creation time (epoch ms)."
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items returned."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/diagnostics": {
      "get": {
        "operationId": "get_tenant_doctor",
        "summary": "Tenant doctor — provider posture",
        "description": "Returns the resolver's view of the tenant's LLM provider posture as a `tenant_provider` block. Covers both platform-managed (synthesised default OR explicit reset) and BYOK modes. The api_key is never serialised. User-fixable BYOK errors (credential row missing, malformed credential JSON) surface as an `error_label` field rather than a 5xx so the client doctor can report them as actionable findings; operator-side errors (platform key missing, tenant has no workspace) still 5xx.\n",
        "tags": [
          "Tenant"
        ],
        "responses": {
          "200": {
            "description": "Tenant provider posture",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tenant_provider"
                  ],
                  "properties": {
                    "tenant_provider": {
                      "type": "object",
                      "required": [
                        "mode",
                        "provider",
                        "model",
                        "context_cap_tokens",
                        "credential_ref",
                        "error_label"
                      ],
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": [
                            "platform",
                            "byok"
                          ],
                          "description": "Active posture for the tenant."
                        },
                        "provider": {
                          "type": "string",
                          "description": "Provider name (e.g. fireworks, anthropic, openai). Under platform mode, read from the active core.platform_llm_keys row.\n"
                        },
                        "model": {
                          "type": "string",
                          "description": "Resolved model id (e.g. accounts/fireworks/models/kimi-k2.6)."
                        },
                        "context_cap_tokens": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Resolved context window cap in tokens."
                        },
                        "credential_ref": {
                          "type": "string",
                          "nullable": true,
                          "description": "User-named vault key holding the BYOK credential. Null under platform mode."
                        },
                        "error_label": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "credential_missing",
                            "credential_data_malformed",
                            null
                          ],
                          "description": "Set when BYOK resolution failed at a user-fixable point — credential row missing from vault, or stored JSON missing required fields. Null on success.\n"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/provider": {
      "get": {
        "operationId": "get_tenant_provider",
        "summary": "Read tenant LLM provider configuration",
        "description": "Returns the tenant's persisted provider config — mode, provider name, model, context cap, and (under BYOK) the user-named credential_ref. The api_key is never serialised. Tenants with no row receive a synthesised platform default.\n",
        "tags": [
          "Tenant"
        ],
        "responses": {
          "200": {
            "description": "Provider config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_tenant_provider",
        "summary": "Set tenant LLM provider posture",
        "description": "Eager-validates and UPSERTs the tenant_providers row. Validation order: body shape → credential_ref required (mode=byok) → credential_not_found → credential_data_malformed → model_not_in_caps_catalogue → UPSERT. Stored `provider` is read from the credential JSON; effective `model` is the body override (when present) else the credential's stored model.\n",
        "tags": [
          "Tenant"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mode"
                ],
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "platform",
                      "byok"
                    ]
                  },
                  "credential_ref": {
                    "type": "string",
                    "nullable": true,
                    "description": "User-named vault key. Required when mode=byok."
                  },
                  "model": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional model override. Falls back to the credential's stored model when absent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider config after upsert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_tenant_provider",
        "summary": "Reset tenant LLM provider to platform default",
        "description": "Equivalent to `PUT {mode: \"platform\"}`. Writes the explicit mode=platform row so the dashboard can distinguish \"never configured\" from \"explicitly reset\".\n",
        "tags": [
          "Tenant"
        ],
        "responses": {
          "200": {
            "description": "Provider config after reset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/credentials": {
      "get": {
        "operationId": "list_workspace_credentials",
        "summary": "List credentials stored for a workspace",
        "description": "Returns credential names. Values are never returned — they live encrypted in `vault.secrets`.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentials": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CredentialSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "store_workspace_credential",
        "summary": "Store a credential in the workspace vault",
        "description": "Plaintext is the canonical-stringified form of the supplied JSON object,\nenvelope-encrypted with the KEK (master key v1) and persisted to\n`vault.secrets`. The raw value is never stored unencrypted and never\nreturned. `data` must be a non-empty JSON object whose stringified form\nis ≤ 4 KiB; bare strings, arrays, scalars, and `{}` are rejected with\n`UZ-VAULT-001`.\n",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "data"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Credential identifier referenced from a zombie's `credentials:` list."
                  },
                  "data": {
                    "type": "object",
                    "minProperties": 1,
                    "additionalProperties": true,
                    "description": "JSON object whose top-level keys are the field names a skill\nreferences via `${secrets.<name>.<field>}`. The runtime never\ninspects the schema — this is opaque to the platform.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/credentials/{credential_name}": {
      "delete": {
        "operationId": "delete_workspace_credential",
        "summary": "Delete a credential from the workspace vault",
        "description": "Idempotent — returns 204 whether or not the credential existed.\n",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "credential_name",
            "in": "path",
            "required": true,
            "description": "Credential name.",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential deleted (or already absent)"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/api-keys": {
      "post": {
        "operationId": "create_api_key",
        "summary": "Mint a tenant API key",
        "description": "Creates a new `zmb_t_`-prefixed tenant admin key. **The raw key is returned once.** Only the SHA-256 hash is persisted — the key cannot be retrieved again. Requires operator (or admin) role.",
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_name"
                ],
                "properties": {
                  "key_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Unique per tenant. Alphanumeric, hyphens, and underscores only."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 256
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "key_name",
                    "key",
                    "created_at"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "key_name": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string",
                      "description": "Raw `zmb_t_` tenant key (70 chars). Shown once — store securely."
                    },
                    "created_at": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "Key name already exists for this tenant (`UZ-APIKEY-005`).",
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "list_api_keys",
        "summary": "List tenant API keys",
        "description": "Returns metadata for every tenant API key visible to the caller. Results are always scoped to the caller's tenant; `key_hash` is never returned.",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "key_name",
                "-key_name"
              ],
              "default": "-created_at"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "page",
                    "page_size"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TenantApiKey"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total rows across all pages for this tenant."
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "patch": {
        "operationId": "revoke_api_key",
        "summary": "Revoke a tenant API key",
        "description": "Partial lifecycle update. Body must be `{\"active\": false}` — re-activation is not supported; mint a new key instead. Sets `revoked_at` and `updated_at`.",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the API key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "active"
                ],
                "properties": {
                  "active": {
                    "type": "boolean",
                    "enum": [
                      false
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "active",
                    "revoked_at"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "active": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "revoked_at": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "Key is already revoked (`UZ-APIKEY-006`) or attempted to set `active: true` (`UZ-APIKEY-007`).",
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_api_key",
        "summary": "Delete a revoked tenant API key",
        "description": "Hard-deletes the row from `core.api_keys`. The key must already be revoked (`active = false`); an active key returns `409 UZ-APIKEY-008`.",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the API key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "Active key must be revoked before deletion (`UZ-APIKEY-008`).",
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/agent-keys": {
      "get": {
        "operationId": "list_agent_keys",
        "summary": "List agent keys in a workspace",
        "description": "Returns agent-key metadata only — never returns `key_hash`.",
        "tags": [
          "Agent Keys"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentKey"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items in this response (not total across pages)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "create_agent_key",
        "summary": "Issue an agent key for a zombie",
        "description": "Creates a new `zmb_` agent key bound to a specific zombie. **The raw key is returned once.** Only the SHA-256 hash is persisted — the key cannot be retrieved again.",
        "tags": [
          "Agent Keys"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zombie_id",
                  "name"
                ],
                "properties": {
                  "zombie_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 256
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent_id",
                    "key"
                  ],
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "zombie_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string",
                      "description": "Raw `zmb_` API key. Shown once — store securely."
                    },
                    "created_at": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/agent-keys/{agent_id}": {
      "delete": {
        "operationId": "delete_agent_key",
        "summary": "Revoke an agent key",
        "description": "Revokes the agent key immediately. Subsequent requests with the key receive 401.",
        "tags": [
          "Agent Keys"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies": {
      "get": {
        "operationId": "list_zombies",
        "summary": "List zombies in a workspace",
        "description": "Returns zombies the caller has access to in the given workspace. Keyset paginated over `(created_at DESC, id DESC)`. Omit `cursor` for the first page; pass the response `cursor` back verbatim to fetch the next page. `cursor` is `null` when the last page has been reached. Response envelope follows the RAD §8 `items`/`total` convention (`total` is the size of this page, not a global count).\n",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque page cursor from a prior response's `cursor` field, formatted `{created_at_epoch_ms}:{zombie_id}`. Omit for the first page.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 20. Clamped to a maximum of 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "cursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ZombieSummary"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items in this response (not total across pages)."
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor to fetch the next page. `null` when there are no more pages.\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "create_zombie",
        "summary": "Create a zombie",
        "description": "Creates a new zombie from a TRIGGER.md (deployment manifest) and a SKILL.md (agent instructions). The server is the single parser of TRIGGER.md frontmatter — `name` and the persisted `config_json` are derived server-side. The CLI (`zombiectl install --from <path>`) sends the two markdown files as raw bytes; no YAML parsing happens client-side.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "trigger_markdown",
                  "source_markdown"
                ],
                "properties": {
                  "trigger_markdown": {
                    "type": "string",
                    "maxLength": 65536,
                    "description": "TRIGGER.md raw bytes — YAML frontmatter (`name`, `trigger`, `tools`, `credentials`, `network`, `budget`, `gates`) between `---` delimiters. Server parses this to derive `name` and the persisted `config_json`."
                  },
                  "source_markdown": {
                    "type": "string",
                    "maxLength": 65536,
                    "description": "SKILL.md raw bytes — the agent instructions, stored as-is."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "zombie_id",
                    "name",
                    "status"
                  ],
                  "properties": {
                    "zombie_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string",
                      "description": "Zombie name parsed from TRIGGER.md frontmatter — the canonical identifier the user will see in `zombiectl status` and CLI output."
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/zombies/{zombie_id}": {
      "patch": {
        "operationId": "patch_zombie",
        "summary": "Update or kill a zombie",
        "description": "Partial update of a zombie. Body fields are optional and presence-based: `config_json` (replace the zombie's config — publishes zombie_config_changed) and/or `status:\"killed\"` (cancel any in-flight executor session and mark the zombie killed — publishes zombie_status_changed). Both fields can ride together; the SQL UPDATE is one statement and one control-stream publish fires per dirty surface. Returns the new config_revision (a strictly monotonic ms-epoch timestamp). Idempotent — re-killing a killed zombie returns 404.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the zombie.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config_json": {
                    "type": "string",
[...]
