{
  "openapi": "3.1.0",
  "info": {
    "title": "UseZombie Control Plane API",
    "version": "1.0.0",
    "description": "Zombie automation control plane \u2014 webhook-driven agent execution in a bwrap+landlock sandbox.",
    "contact": {
      "name": "UseZombie",
      "url": "https://usezombie.com"
    }
  },
  "servers": [
    {
      "url": "https://api.usezombie.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "System status and readiness probes",
      "x-mintlify": {
        "navigation": "Health"
      }
    },
    {
      "name": "Authentication",
      "description": "CLI login flow via device-code style sessions and GitHub OAuth",
      "x-mintlify": {
        "navigation": "Authentication"
      }
    },
    {
      "name": "Workspaces",
      "description": "Create and manage workspaces (one workspace per repo)",
      "x-mintlify": {
        "navigation": "Workspaces"
      }
    },
    {
      "name": "Runs",
      "description": "Core spec-to-PR pipeline \u2014 queue, monitor, stream, retry, and cancel runs",
      "x-mintlify": {
        "navigation": "Runs"
      }
    },
    {
      "name": "Zombies",
      "description": "Zombie management and webhook ingestion \u2014 create, configure, and operate event-driven Zombies",
      "x-mintlify": {
        "navigation": "Zombies"
      }
    },
    {
      "name": "Memory",
      "description": "Persistent zombie memory \u2014 store, recall, list, and forget key-value entries scoped to a zombie",
      "x-mintlify": {
        "navigation": "Memory"
      }
    },
    {
      "name": "Credentials",
      "description": "BYOK (Bring Your Own Key) LLM provider credentials",
      "x-mintlify": {
        "navigation": "Credentials"
      }
    },
    {
      "name": "Skill Secrets",
      "description": "Per-skill secret storage for agent skill integrations",
      "x-mintlify": {
        "navigation": "Skill Secrets"
      }
    },
    {
      "name": "Admin",
      "description": "Platform-wide configuration \u2014 manage shared LLM provider keys",
      "x-mintlify": {
        "navigation": "Admin"
      }
    },
    {
      "name": "Billing",
      "description": "Plan upgrades and billing events",
      "x-mintlify": {
        "navigation": "Billing"
      }
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Liveness check",
        "description": "Returns 200 as long as the process is alive and able to serve HTTP. Does not probe dependencies \u2014 use /readyz for readiness (database + queue).",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Process is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "commit",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok",
                      "description": "Always \"ok\" for a live process"
                    },
                    "service": {
                      "type": "string",
                      "const": "zombied",
                      "description": "Service identifier"
                    },
                    "commit": {
                      "type": "string",
                      "description": "Git commit SHA of the running build"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "summary": "Readiness probe",
        "description": "Kubernetes-style readiness probe. Returns 200 when both the database and the Redis queue are reachable; returns 503 fail-closed if either dependency is degraded.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Both dependencies healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          },
          "503": {
            "description": "At least one dependency is degraded; ready=false and the failing dependency's boolean is false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "metrics",
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-format metrics for scraping by monitoring infrastructure.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus text exposition format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "operationId": "create_auth_session",
        "summary": "Start a CLI login session",
        "description": "Creates a device-code style auth session. Returns a session ID and a login URL to present to the user in their browser.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "responses": {
          "201": {
            "description": "Auth session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "session_id",
                    "login_url",
                    "request_id"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Session identifier for polling"
                    },
                    "login_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to open in the user's browser to complete authentication"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "operationId": "poll_auth_session",
        "summary": "Poll auth session status",
        "description": "Polls a pending auth session. The CLI calls this repeatedly until status transitions to 'complete' (token available) or 'expired'.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auth session status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "complete",
                        "expired"
                      ],
                      "description": "Current session status"
                    },
                    "token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Bearer token, present only when status is 'complete'"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/complete": {
      "post": {
        "operationId": "complete_auth_session",
        "summary": "Complete an auth session",
        "description": "Called by the web frontend after successful OAuth to attach a token to the pending session. The CLI's next poll will receive the token.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Bearer token from OAuth flow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "complete"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/github/callback": {
      "get": {
        "operationId": "github_oauth_callback",
        "summary": "GitHub OAuth callback",
        "description": "Handles the GitHub OAuth redirect. Exchanges the authorization code for an access token and redirects the user back to the app.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "OAuth authorization code from GitHub",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "CSRF state parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to application after successful OAuth exchange"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "summary": "Create a workspace",
        "description": "Creates a new workspace linked to a GitHub repository. Returns the workspace ID and a GitHub App install URL if the app is not yet installed on the repo.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo_url"
                ],
                "properties": {
                  "repo_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Full GitHub repository URL (e.g. https://github.com/org/repo)"
                  },
                  "default_branch": {
                    "type": "string",
                    "description": "Default branch name, defaults to 'main' if omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "repo_url",
                    "default_branch",
                    "install_url",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique workspace identifier"
                    },
                    "repo_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Repository URL"
                    },
                    "default_branch": {
                      "type": "string",
                      "description": "Default branch for the workspace"
                    },
                    "install_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "GitHub App installation URL \u2014 direct user here if the app is not yet installed"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}:pause": {
      "post": {
        "operationId": "pause_workspace",
        "summary": "Pause or unpause a workspace",
        "description": "Toggles the paused state of a workspace. When paused, no new runs will be started and queued runs will be held. Uses optimistic concurrency via the version field.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pause",
                  "reason",
                  "version"
                ],
                "properties": {
                  "pause": {
                    "type": "boolean",
                    "description": "True to pause, false to unpause"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the state change"
                  },
                  "version": {
                    "type": "integer",
                    "description": "Optimistic concurrency version \u2014 must match current workspace version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace pause state updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "paused",
                    "version",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "paused": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}:sync": {
      "post": {
        "operationId": "sync_specs",
        "summary": "Sync specs from repo",
        "description": "Reads PENDING_*.md spec files from the repository's default branch and upserts them into the control plane. Returns the count of newly synced specs.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "synced_count",
                    "total_pending",
                    "specs",
                    "request_id"
                  ],
                  "properties": {
                    "synced_count": {
                      "type": "integer",
                      "description": "Number of specs synced in this request"
                    },
                    "total_pending": {
                      "type": "integer",
                      "description": "Total pending specs after sync"
                    },
                    "specs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SpecSummary"
                      },
                      "description": "List of synced spec summaries"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/credentials/llm": {
      "put": {
        "operationId": "put_llm_credential",
        "summary": "Set LLM credential",
        "description": "Stores or replaces the BYOK LLM API key for a workspace. The key is encrypted at rest and never returned in API responses.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "api_key"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "API key for the provider \u2014 encrypted at rest, never echoed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Credential stored"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "get_llm_credential",
        "summary": "Get LLM credential status",
        "description": "Returns whether a BYOK LLM key is configured for the workspace and which provider it belongs to. Never returns the actual key.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "has_key",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string",
                      "description": "Configured LLM provider name"
                    },
                    "has_key": {
                      "type": "boolean",
                      "description": "True if an API key is stored"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_llm_credential",
        "summary": "Delete LLM credential",
        "description": "Removes the stored BYOK LLM API key for the workspace. Future runs will fall back to platform-provided keys if available.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential deleted"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "operationId": "list_platform_keys",
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no BYOK key is configured.",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Platform key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys",
                    "request_id"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformKey"
                      }
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_platform_key",
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a BYOK key stored. The platform key proxies through the referenced workspace's credential.",
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "source_workspace_id"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "source_workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Workspace whose BYOK key to use as the platform key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Platform key configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "source_workspace_id",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "source_workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "operationId": "delete_platform_key",
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without BYOK keys will no longer be able to use this provider.",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "LLM provider name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean",
                      "const": false
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/scale": {
      "post": {
        "operationId": "scale_billing",
        "summary": "Upgrade billing plan",
        "description": "Upgrades a workspace's billing plan by linking a payment provider subscription. The workspace's plan tier and billing status are updated immediately.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subscription_id"
                ],
                "properties": {
                  "subscription_id": {
                    "type": "string",
                    "description": "Payment provider subscription identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing plan updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "plan_tier",
                    "billing_status",
                    "plan_sku",
                    "subscription_id",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "plan_tier": {
                      "type": "string",
                      "description": "New plan tier (e.g. free, pro, enterprise)"
                    },
                    "billing_status": {
                      "type": "string",
                      "description": "Current billing status"
                    },
                    "plan_sku": {
                      "type": "string",
                      "description": "Plan SKU identifier"
                    },
                    "subscription_id": {
                      "type": "string",
                      "description": "Payment provider subscription ID"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/events": {
      "post": {
        "operationId": "billing_event",
        "summary": "Record a billing event",
        "description": "Records a billing lifecycle event such as a payment failure or downgrade. The workspace's billing status is updated accordingly.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_type",
                  "reason"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "PAYMENT_FAILED",
                      "DOWNGRADE_TO_FREE"
                    ],
                    "description": "Type of billing event"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the event"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing event recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "billing_status",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "billing_status": {
                      "type": "string",
                      "description": "Updated billing status"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/summary": {
      "get": {
        "operationId": "get_billing_summary",
        "summary": "Get billing summary",
        "description": "Returns a billing breakdown for a workspace: run counts grouped by lifecycle event (completed, non-billable, score-gated), plus total agent seconds and average score for gated runs. Filterable by period.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "90d"
              ],
              "default": "30d"
            },
            "description": "Time period for the summary window"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing summary for the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "period_days",
                    "period_start_ms",
                    "period_end_ms",
                    "completed",
                    "non_billable",
                    "non_billable_score_gated",
                    "total_runs",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string"
                    },
                    "period_days": {
                      "type": "integer"
                    },
                    "period_start_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "period_end_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "completed": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "agent_seconds": {
                          "type": "integer"
                        }
                      }
                    },
                    "non_billable": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "non_billable_score_gated": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "avg_score": {
                          "type": "integer"
                        }
                      }
                    },
                    "total_runs": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/{zombie_id}": {
      "post": {
        "operationId": "receive_webhook",
        "summary": "Deliver an inbound webhook event to a Zombie",
        "description": "Delivers an inbound event to the Zombie identified by `zombie_id`. The Zombie is looked up by primary key \u2014 no JSONB traversal, no source-name uniqueness required. Bearer token is validated against the Zombie's `trigger.token` (omit if no token configured). Duplicate events (same `event_id` within 24 h) return 200 `{status: \"duplicate\"}`. A new event is enqueued to the Zombie's Redis stream and returns 202.",
        "tags": [
          "Zombies"
        ],
        "parameters": [
          {
            "name": "zombie_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the target Zombie. Obtained from `POST /v1/zombies` or `zombiectl up`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_id",
                  "type",
                  "data"
                ],
                "properties": {
                  "event_id": {
                    "type": "string",
                    "description": "Unique identifier for this event. Used for idempotency deduplication (24-hour window)."
                  },
                  "type": {
                    "type": "string",
                    "description": "Event type label (e.g. `email.received`, `push`, `payment.succeeded`)."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Event payload \u2014 any JSON object. Passed as-is into the Zombie event loop."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Event accepted and enqueued for the Zombie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "event_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "accepted"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Duplicate event \u2014 already processed within the 24-hour dedup window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "duplicate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed payload \u2014 missing `event_id` or `type`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "No active Zombie is configured for this source (UZ-WH-001).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Zombie exists but is paused or stopped (UZ-WH-003).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "/v1/workspaces/{workspace_id}/zombies/{zombie_id}:steer": {
    "post": {
      "summary": "Steer a zombie's active run",
      "description": "Queues a steering message for the zombie. The message is written to Redis (zombie:{id}:steer, 300s TTL); the worker injects it as a synthetic event on the next event loop iteration. message_queued indicates whether the Redis write succeeded. execution_active indicates whether the zombie is currently executing when the request is handled.",
      "operationId": "zombieSteer",
      "tags": [
        "Zombies"
      ],
      "security": [
        {
          "BearerAuth": []
        }
      ],
      "parameters": [
        {
          "name": "workspace_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The workspace UUID"
        },
        {
          "name": "zombie_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The zombie's UUID"
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "message"
              ],
              "properties": {
                "message": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 8192,
                  "description": "Steering message to inject into the active run"
                }
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Steer acknowledged",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message_queued": {
                    "type": "boolean",
                    "description": "true if the message was successfully written to Redis"
                  },
                  "execution_active": {
                    "type": "boolean",
                    "description": "true if the zombie has an active execution_id at request time"
                  },
                  "execution_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Active execution_id from zombie_sessions, or null if zombie is idle"
                  }
                }
              }
            }
          }
        },
        "400": {
          "$ref": "#/components/responses/BadRequest"
        },
        "401": {
          "$ref": "#/components/responses/Unauthorized"
        },
        "404": {
          "$ref": "#/components/responses/NotFound"
        }
      }
    }
  },
  "/v1/memory/store": {
    "post": {
      "summary": "Store a memory entry",
      "description": "Store or upsert a key-value memory entry for a zombie. On conflict (same key + zombie), the content and category are updated.",
      "operationId": "memoryStore",
      "tags": [
        "Memory"
      ],
      "security": [
        {
          "BearerAuth": []
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "zombie_id",
                "key",
                "content"
              ],
              "properties": {
                "zombie_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUIDv7 of the target zombie"
                },
                "key": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "description": "Memory entry key"
                },
                "content": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 16384,
                  "description": "Memory entry content"
                },
                "category": {
                  "type": "string",
                  "enum": [
                    "core",
                    "daily",
                    "conversation",
                    "workspace"
                  ],
                  "default": "core",
                  "description": "Memory category"
                }
              }
            }
          }
        }
      },
      "responses": {
        "201": {
          "description": "Memory entry stored",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zombie_id": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "request_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "400": {
          "$ref": "#/components/responses/Error"
        },
        "401": {
          "$ref": "#/components/responses/Error"
        },
        "403": {
          "$ref": "#/components/responses/Error"
        },
        "404": {
          "$ref": "#/components/responses/Error"
        },
        "503": {
          "$ref": "#/components/responses/Error"
        }
      }
    }
  },
  "/v1/memory/recall": {
    "post": {
      "summary": "Recall memory entries by keyword",
      "description": "Search a zombie's memory entries by keyword. Matches against key and content using ILIKE. Uses POST (not GET) because the query parameters are carried in the request body \u2014 HTTP caching does not apply to this endpoint.",
      "operationId": "memoryRecall",
      "tags": [
        "Memory"
      ],
      "security": [
        {
          "BearerAuth": []
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "zombie_id",
                "query"
              ],
              "properties": {
                "zombie_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUIDv7 of the target zombie"
                },
                "query": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Keyword to search in key and content"
                },
                "limit": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100,
                  "default": 20,
                  "description": "Maximum entries to return"
                }
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Matching memory entries",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zombie_id": {
                    "type": "string"
                  },
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Unix epoch seconds as string"
                        }
                      }
                    }
                  },
                  "count": {
                    "type": "integer"
                  },
                  "request_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "400": {
          "$ref": "#/components/responses/Error"
        },
        "401": {
          "$ref": "#/components/responses/Error"
        },
        "403": {
          "$ref": "#/components/responses/Error"
        },
        "404": {
          "$ref": "#/components/responses/Error"
        },
        "503": {
          "$ref": "#/components/responses/Error"
        }
      }
    }
  },
  "/v1/memory/list": {
    "post": {
      "summary": "List memory entries for a zombie",
      "description": "List all memory entries for a zombie, optionally filtered by category. Uses POST (not GET) because the filter parameters are carried in the request body \u2014 HTTP caching does not apply to this endpoint.",
      "operationId": "memoryList",
      "tags": [
        "Memory"
      ],
      "security": [
        {
          "BearerAuth": []
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "zombie_id"
              ],
              "properties": {
                "zombie_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUIDv7 of the target zombie"
                },
                "category": {
                  "type": "string",
                  "enum": [
                    "core",
                    "daily",
                    "conversation",
                    "workspace"
                  ],
                  "description": "Filter by category (omit for all)"
                },
                "limit": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100,
                  "default": 100,
                  "description": "Maximum entries to return"
                }
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Memory entries",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zombie_id": {
                    "type": "string"
                  },
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "count": {
                    "type": "integer"
                  },
                  "request_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "400": {
          "$ref": "#/components/responses/Error"
        },
        "401": {
          "$ref": "#/components/responses/Error"
        },
        "403": {
          "$ref": "#/components/responses/Error"
        },
        "404": {
          "$ref": "#/components/responses/Error"
        },
        "503": {
          "$ref": "#/components/responses/Error"
        }
      }
    }
  },
  "/v1/memory/forget": {
    "post": {
      "summary": "Forget a memory entry",
      "description": "Delete a specific memory entry by key for a zombie. Idempotent \u2014 returns deleted=false if the entry did not exist.",
      "operationId": "memoryForget",
      "tags": [
        "Memory"
      ],
      "security": [
        {
          "BearerAuth": []
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "zombie_id",
                "key"
              ],
              "properties": {
                "zombie_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUIDv7 of the target zombie"
                },
                "key": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "description": "Memory entry key to delete"
                }
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Forget operation result",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zombie_id": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "deleted": {
                    "type": "boolean",
                    "description": "true if the entry existed and was deleted; false if it did not exist"
                  },
                  "request_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "400": {
          "$ref": "#/components/responses/Error"
        },
        "401": {
          "$ref": "#/components/responses/Error"
        },
        "403": {
          "$ref": "#/components/responses/Error"
        },
        "404": {
          "$ref": "#/components/responses/Error"
        },
        "503": {
          "$ref": "#/components/responses/Error"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Obtain a token via the CLI auth flow (POST /v1/auth/sessions) or GitHub OAuth"
      }
    },
    "schemas": {
      "ReadyzBody": {
        "type": "object",
        "description": "Response body for GET /readyz. Identical shape for both 200 (healthy) and 503 (degraded) responses \u2014 only the boolean values differ.",
        "required": [
          "ready",
          "database",
          "queue"
        ],
        "properties": {
          "ready": {
            "type": "boolean",
            "description": "Overall readiness \u2014 true only when every dependency is healthy. Mirrors the HTTP status (true \u2194 200, false \u2194 503)."
          },
          "database": {
            "type": "boolean",
            "description": "True if the PostgreSQL connection pool is reachable and a trivial query succeeds"
          },
          "queue": {
            "type": "boolean",
            "description": "True if the Redis queue backend is reachable"
          }
        },
        "additionalProperties": false
      },
      "Transition": {
        "type": "object",
        "description": "A state transition in the run pipeline",
        "properties": {
          "state_from": {
            "type": "string",
            "description": "State before the transition"
          },
          "state_to": {
            "type": "string",
            "description": "State after the transition"
          },
          "actor": {
            "type": "string",
            "description": "Pipeline stage or user that triggered the transition"
          },
          "reason_code": {
            "type": "string",
            "description": "Machine-readable reason for the transition"
          },
          "ts": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "Artifact": {
        "type": "object",
        "description": "An artifact produced during a run (e.g. plan, diff, review)",
        "properties": {
          "artifact_name": {
            "type": "string",
            "description": "Human-readable artifact name"
          },
          "object_key": {
            "type": "string",
            "description": "Git path: docs/runs/<run_id>/<name>"
          },
          "checksum_sha256": {
            "type": "string",
            "description": "SHA-256 checksum of the artifact content"
          },
          "producer": {
            "type": "string",
            "enum": [
              "echo",
              "scout",
              "warden",
              "orchestrator"
            ],
            "description": "Pipeline stage that produced the artifact"
          },
          "attempt": {
            "type": "integer",
            "description": "Run attempt number that produced this artifact"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "PolicyEvent": {
        "type": "object",
        "description": "A policy evaluation event from the Warden stage",
        "properties": {
          "action_class": {
            "type": "string",
            "enum": [
              "safe",
              "sensitive",
              "critical"
            ],
            "description": "Classification of the action being evaluated"
          },
          "decision": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "require_confirmation"
            ],
            "description": "Policy decision"
          },
          "rule_id": {
            "type": "string",
            "description": "Identifier of the policy rule that matched"
          },
          "actor": {
            "type": "string",
            "description": "Pipeline stage that triggered the policy check"
          },
          "ts": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "SpecSummary": {
        "type": "object",
        "description": "Summary of a spec document",
        "properties": {
          "spec_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique spec identifier"
          },
          "file_path": {
            "type": "string",
            "description": "Path to the spec file in the repository"
          },
          "title": {
            "type": "string",
            "description": "Spec title extracted from the document"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "done",
              "failed"
            ],
            "description": "Current spec lifecycle status"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          },
          "updated_at": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds"
          }
        }
      },
      "AgentProfile": {
        "type": "object",
        "description": "Agent profile including trust and improvement metadata",
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Human-readable agent name"
          },
          "status": {
            "type": "string",
            "description": "Agent operational status"
          },
          "workspace_id": {
            "type": "string",
            "format": "uuid"
          },
          "trust_level": {
            "type": "string",
            "description": "Current trust level (e.g. low, medium, high)"
          },
          "trust_streak_runs": {
            "type": "integer",
            "description": "Number of consecutive successful runs contributing to trust"
          },
          "improvement_stalled_warning": {
            "type": "boolean",
            "description": "True if the agent's self-improvement has plateaued"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Proposal": {
        "type": "object",
        "description": "An agent self-tuning proposal \u2014 a suggested change to the agent configuration",
        "properties": {
          "proposal_id": {
            "type": "string",
            "format": "uuid"
          },
          "trigger_reason": {
            "type": "string",
            "description": "Why the agent generated this proposal"
          },
          "proposed_changes": {
            "type": "string",
            "description": "Description of the proposed configuration changes"
          },
          "config_version_id": {
            "type": "string",
            "format": "uuid",
            "description": "Config version this proposal targets"
          },
          "approval_mode": {
            "type": "string",
            "description": "Whether the proposal requires manual approval or can auto-apply"
          },
          "status": {
            "type": "string",
            "description": "Proposal lifecycle status (e.g. PENDING, APPLIED, REJECTED, VETOED)"
          },
          "auto_apply_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp when the proposal will auto-apply, null if manual approval required"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformKey": {
        "type": "object",
        "description": "A platform-wide LLM provider key configuration",
        "properties": {
          "provider": {
            "type": "string",
            "description": "LLM provider name"
          },
          "source_workspace_id": {
            "type": "string",
            "format": "uuid",
            "description": "Workspace whose BYOK key is used"
          },
          "active": {
            "type": "boolean",
            "description": "Whether this platform key is active"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentRelayRequest": {
        "type": "object",
        "description": "Request body for Agent Relay LLM endpoints (spec template and preview). The workspace_id is provided via the path parameter.",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "description": "Conversation messages for the LLM",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant",
                    "system"
                  ],
                  "description": "Message role"
                },
                "content": {
                  "type": "string",
                  "description": "Message content"
                }
              }
            }
          },
          "tools": {
            "type": "array",
            "description": "Optional tool definitions for the LLM to use during generation",
            "items": {
              "type": "object",
              "required": [
                "name",
                "description",
                "input_schema"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Tool name"
                },
                "description": {
                  "type": "string",
                  "description": "What the tool does"
                },
                "input_schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "JSON Schema for the tool's input"
                }
              }
            }
          }
        }
      },
      "ErrorBody": {
        "type": "object",
        "description": "RFC 7807 problem detail error response (application/problem+json)",
        "required": [
          "docs_uri",
          "title",
          "detail",
          "error_code",
          "request_id"
        ],
        "properties": {
          "docs_uri": {
            "type": "string",
            "format": "uri",
            "description": "Stable link to documentation for this error code",
            "example": "https://docs.usezombie.com/error-codes#UZ-ZMB-009"
          },
          "title": {
            "type": "string",
            "description": "Short human-readable label, same for every occurrence of this code",
            "example": "Zombie not found"
          },
          "detail": {
            "type": "string",
            "description": "Instance-specific context describing what went wrong",
            "example": "No zombie with id 'abc123' in this workspace."
          },
          "error_code": {
            "type": "string",
            "description": "Machine-readable error code",
            "example": "UZ-ZMB-009"
          },
          "request_id": {
            "type": "string",
            "description": "Correlation ID for this request"
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "RFC 7807 problem detail error response",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      }
    }
  }
}
