{
  "openapi": "3.1.0",
  "info": {
    "title": "UseZombie Control Plane API",
    "version": "1.0.0",
    "description": "Agent Delivery Control Plane \u2014 spec-to-PR automation via Echo -> Scout -> Warden pipeline.",
    "contact": {
      "name": "UseZombie",
      "url": "https://usezombie.com"
    }
  },
  "servers": [
    {
      "url": "https://api.usezombie.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "System status and readiness probes",
      "x-mintlify": {
        "navigation": "Health"
      }
    },
    {
      "name": "Authentication",
      "description": "CLI login flow via device-code style sessions and GitHub OAuth",
      "x-mintlify": {
        "navigation": "Authentication"
      }
    },
    {
      "name": "Workspaces",
      "description": "Create and manage workspaces (one workspace per repo)",
      "x-mintlify": {
        "navigation": "Workspaces"
      }
    },
    {
      "name": "Specs",
      "description": "Spec lifecycle \u2014 list, sync, and manage specification documents",
      "x-mintlify": {
        "navigation": "Specs"
      }
    },
    {
      "name": "Runs",
      "description": "Core spec-to-PR pipeline \u2014 queue, monitor, stream, retry, and cancel runs",
      "x-mintlify": {
        "navigation": "Runs"
      }
    },
    {
      "name": "Agents",
      "description": "Agent profiles, trust scores, improvement reports, and self-tuning proposals",
      "x-mintlify": {
        "navigation": "Agents"
      }
    },
    {
      "name": "Harness",
      "description": "Agent runtime configuration \u2014 author, compile, and activate harness configs",
      "x-mintlify": {
        "navigation": "Harness"
      }
    },
    {
      "name": "Credentials",
      "description": "BYOK (Bring Your Own Key) LLM provider credentials",
      "x-mintlify": {
        "navigation": "Credentials"
      }
    },
    {
      "name": "Skill Secrets",
      "description": "Per-skill secret storage for agent skill integrations",
      "x-mintlify": {
        "navigation": "Skill Secrets"
      }
    },
    {
      "name": "Agent Relay",
      "description": "Spec generation and preview via LLM \u2014 streaming endpoints for interactive authoring",
      "x-mintlify": {
        "navigation": "Agent Relay"
      }
    },
    {
      "name": "Admin",
      "description": "Platform-wide configuration \u2014 manage shared LLM provider keys",
      "x-mintlify": {
        "navigation": "Admin"
      }
    },
    {
      "name": "Billing",
      "description": "Plan upgrades, billing events, and scoring configuration",
      "x-mintlify": {
        "navigation": "Billing"
      }
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Health check",
        "description": "Returns service health status including database connectivity and current commit SHA.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "database",
                    "commit",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "degraded"
                      ],
                      "description": "Overall service health"
                    },
                    "service": {
                      "type": "string",
                      "const": "zombied",
                      "description": "Service identifier"
                    },
                    "database": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ],
                      "description": "Database connectivity status"
                    },
                    "commit": {
                      "type": "string",
                      "description": "Git commit SHA of the running build"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "summary": "Readiness probe",
        "description": "Kubernetes-style readiness probe. Returns detailed status of all dependencies including queue health metrics.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Readiness status with dependency details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ready",
                    "database",
                    "worker",
                    "queue_dependency",
                    "queue_depth",
                    "queue_depth_breached",
                    "queue_age_breached",
                    "request_id"
                  ],
                  "properties": {
                    "ready": {
                      "type": "boolean",
                      "description": "Overall readiness \u2014 true only when all dependencies are healthy"
                    },
                    "database": {
                      "type": "boolean",
                      "description": "Database connection pool is healthy"
                    },
                    "worker": {
                      "type": "boolean",
                      "description": "Background worker process is responsive"
                    },
                    "queue_dependency": {
                      "type": "boolean",
                      "description": "Queue backend is reachable"
                    },
                    "queue_depth": {
                      "type": "integer",
                      "description": "Current number of items in the work queue"
                    },
                    "oldest_queued_age_ms": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Age in milliseconds of the oldest queued item, null if queue is empty"
                    },
                    "queue_depth_breached": {
                      "type": "boolean",
                      "description": "True if queue depth exceeds the configured limit"
                    },
                    "queue_age_breached": {
                      "type": "boolean",
                      "description": "True if oldest queued item exceeds the configured age limit"
                    },
                    "queue_depth_limit": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Configured queue depth threshold, null if unconfigured"
                    },
                    "queue_age_limit_ms": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Configured queue age threshold in milliseconds, null if unconfigured"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "metrics",
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-format metrics for scraping by monitoring infrastructure.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus text exposition format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "operationId": "create_auth_session",
        "summary": "Start a CLI login session",
        "description": "Creates a device-code style auth session. Returns a session ID and a login URL to present to the user in their browser.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "responses": {
          "201": {
            "description": "Auth session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "session_id",
                    "login_url",
                    "request_id"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Session identifier for polling"
                    },
                    "login_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to open in the user's browser to complete authentication"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "operationId": "poll_auth_session",
        "summary": "Poll auth session status",
        "description": "Polls a pending auth session. The CLI calls this repeatedly until status transitions to 'complete' (token available) or 'expired'.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auth session status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "complete",
                        "expired"
                      ],
                      "description": "Current session status"
                    },
                    "token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Bearer token, present only when status is 'complete'"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/complete": {
      "post": {
        "operationId": "complete_auth_session",
        "summary": "Complete an auth session",
        "description": "Called by the web frontend after successful OAuth to attach a token to the pending session. The CLI's next poll will receive the token.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Bearer token from OAuth flow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "complete"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/github/callback": {
      "get": {
        "operationId": "github_oauth_callback",
        "summary": "GitHub OAuth callback",
        "description": "Handles the GitHub OAuth redirect. Exchanges the authorization code for an access token and redirects the user back to the app.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "OAuth authorization code from GitHub",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "CSRF state parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to application after successful OAuth exchange"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "summary": "Create a workspace",
        "description": "Creates a new workspace linked to a GitHub repository. Returns the workspace ID and a GitHub App install URL if the app is not yet installed on the repo.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo_url"
                ],
                "properties": {
                  "repo_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Full GitHub repository URL (e.g. https://github.com/org/repo)"
                  },
                  "default_branch": {
                    "type": "string",
                    "description": "Default branch name, defaults to 'main' if omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "repo_url",
                    "default_branch",
                    "install_url",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique workspace identifier"
                    },
                    "repo_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Repository URL"
                    },
                    "default_branch": {
                      "type": "string",
                      "description": "Default branch for the workspace"
                    },
                    "install_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "GitHub App installation URL \u2014 direct user here if the app is not yet installed"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}:pause": {
      "post": {
        "operationId": "pause_workspace",
        "summary": "Pause or unpause a workspace",
        "description": "Toggles the paused state of a workspace. When paused, no new runs will be started and queued runs will be held. Uses optimistic concurrency via the version field.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pause",
                  "reason",
                  "version"
                ],
                "properties": {
                  "pause": {
                    "type": "boolean",
                    "description": "True to pause, false to unpause"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the state change"
                  },
                  "version": {
                    "type": "integer",
                    "description": "Optimistic concurrency version \u2014 must match current workspace version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace pause state updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "paused",
                    "version",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "paused": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}:sync": {
      "post": {
        "operationId": "sync_specs",
        "summary": "Sync specs from repo",
        "description": "Reads PENDING_*.md spec files from the repository's default branch and upserts them into the control plane. Returns the count of newly synced specs.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "synced_count",
                    "total_pending",
                    "specs",
                    "request_id"
                  ],
                  "properties": {
                    "synced_count": {
                      "type": "integer",
                      "description": "Number of specs synced in this request"
                    },
                    "total_pending": {
                      "type": "integer",
                      "description": "Total pending specs after sync"
                    },
                    "specs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SpecSummary"
                      },
                      "description": "List of synced spec summaries"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/specs": {
      "get": {
        "operationId": "list_specs",
        "summary": "List specs",
        "description": "Lists specs for a workspace using Stripe-style keyset pagination. Pass starting_after (spec_id of last item) to page forward.",
        "tags": [
          "Specs"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "description": "Filter by workspace",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of specs to return",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "description": "Cursor for keyset pagination. Pass the spec_id of the last item on the previous page.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter specs by status",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spec list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SpecSummary"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more results exist beyond this page"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Cursor to pass as starting_after for the next page"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs": {
      "post": {
        "operationId": "start_run",
        "summary": "Start a spec-to-PR run",
        "description": "Queues a new run for the given workspace. Provide either spec_id (reference an existing spec) or spec_markdown (inline spec content), but not both. The idempotency_key ensures at-most-once execution.",
        "tags": [
          "Runs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspace_id",
                  "mode",
                  "requested_by",
                  "idempotency_key"
                ],
                "properties": {
                  "workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Target workspace"
                  },
                  "spec_id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "Reference to an existing spec. Mutually exclusive with spec_markdown."
                  },
                  "spec_markdown": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Inline spec content in Markdown. Mutually exclusive with spec_id."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "pull_request"
                    ],
                    "description": "Run mode \u2014 currently only pull_request is supported"
                  },
                  "requested_by": {
                    "type": "string",
                    "description": "Identity of the user or system that requested the run"
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "Client-generated key for at-most-once execution"
                  },
                  "base_commit_sha": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Pin the run to a specific base commit. Uses HEAD of default branch if null."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run_id",
                    "workspace_id",
                    "idempotency_key",
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "run_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "spec_id": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uuid"
                    },
                    "idempotency_key": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "list_runs",
        "summary": "List runs",
        "description": "Lists runs using Stripe-style keyset pagination. Pass starting_after (run_id of last item) to page forward.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "description": "Filter by workspace",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of runs to return",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "description": "Cursor for keyset pagination. Pass the run_id of the last item on the previous page.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RunSummary"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more results exist beyond this page"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Cursor to pass as starting_after for the next page"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}": {
      "get": {
        "operationId": "get_run",
        "summary": "Get run details",
        "description": "Returns full run details including state transitions, artifacts produced by each pipeline stage, and policy events.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run_id",
                    "workspace_id",
                    "spec_id",
                    "current_state",
                    "attempt",
                    "mode",
                    "requested_by",
                    "branch",
                    "created_at",
                    "updated_at",
                    "transitions",
                    "artifacts",
                    "policy_events",
                    "request_id"
                  ],
                  "properties": {
                    "run_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "spec_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "current_state": {
                      "type": "string",
                      "description": "Current pipeline state (e.g. SPEC_QUEUED, ECHO_RUNNING, PR_OPENED, FAILED)"
                    },
                    "attempt": {
                      "type": "integer",
                      "description": "Current attempt number (increments on retry)"
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "pull_request"
                      ]
                    },
                    "requested_by": {
                      "type": "string"
                    },
                    "branch": {
                      "type": "string",
                      "description": "Git branch created for this run"
                    },
                    "pr_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "Pull request URL, null until PR is opened"
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Unix timestamp in milliseconds"
                    },
                    "updated_at": {
                      "type": "integer",
                      "description": "Unix timestamp in milliseconds"
                    },
                    "transitions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transition"
                      },
                      "description": "Ordered list of state transitions"
                    },
                    "artifacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Artifact"
                      },
                      "description": "Artifacts produced during the run"
                    },
                    "policy_events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyEvent"
                      },
                      "description": "Policy evaluation events"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:retry": {
      "post": {
        "operationId": "retry_run",
        "summary": "Retry a run",
        "description": "Retries a blocked or failed run. Increments the attempt counter and re-queues from the last checkpoint.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason",
                  "retry_token"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the retry"
                  },
                  "retry_token": {
                    "type": "string",
                    "description": "Idempotency token for the retry operation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Retry queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run_id",
                    "state",
                    "attempt",
                    "request_id"
                  ],
                  "properties": {
                    "run_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string",
                      "example": "SPEC_QUEUED"
                    },
                    "attempt": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:replay": {
      "get": {
        "operationId": "replay_run",
        "summary": "Replay run events",
        "description": "Streams the complete event history of a finished run as Server-Sent Events. Useful for replaying a run's timeline in the UI.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE event stream of run history",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:stream": {
      "get": {
        "operationId": "stream_run",
        "summary": "Stream live run events",
        "description": "Streams live events for an in-progress run as Server-Sent Events. Connection stays open until the run completes or the client disconnects.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE event stream of live run progress",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs/{run_id}:cancel": {
      "post": {
        "operationId": "cancel_run",
        "summary": "Cancel a run",
        "description": "Cancels a queued or in-progress run. The run transitions to CANCELLED state and any active pipeline stage is aborted.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "Run identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run_id",
                    "state",
                    "request_id"
                  ],
                  "properties": {
                    "run_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string",
                      "const": "CANCELLED"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}": {
      "get": {
        "operationId": "get_agent",
        "summary": "Get agent profile",
        "description": "Returns the agent's profile including trust level, streak data, and improvement status.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Agent identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent profile",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AgentProfile"
                    },
                    {
                      "type": "object",
                      "required": [
                        "request_id"
                      ],
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/scores": {
      "get": {
        "operationId": "get_agent_scores",
        "summary": "Get agent scores",
        "description": "Returns paginated agent scores using Stripe-style keyset pagination. Pass starting_after (score_id of last item) to page forward.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Agent identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "description": "Cursor for keyset pagination. Pass the score_id of the last item on the previous page.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of scores to return (default 50, max 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent scores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "score_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "run_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "score": {
                            "type": "integer"
                          },
                          "axis_scores": {
                            "type": "string"
                          },
                          "weight_snapshot": {
                            "type": "string"
                          },
                          "scored_at": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more results exist beyond this page"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Cursor to pass as starting_after for the next page"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/improvement-report": {
      "get": {
        "operationId": "get_agent_improvement_report",
        "summary": "Get agent improvement report",
        "description": "Returns a detailed improvement report including proposal counts, approval rates, and score trends. Used to assess whether the agent's self-tuning is making progress.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Agent identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Improvement report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent_id",
                    "trust_level",
                    "improvement_stalled_warning",
                    "proposals_generated",
                    "proposals_approved",
                    "proposals_vetoed",
                    "proposals_rejected",
                    "proposals_applied",
                    "avg_score_delta_per_applied_change",
                    "current_tier",
                    "baseline_tier",
                    "request_id"
                  ],
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "trust_level": {
                      "type": "string",
                      "description": "Current trust level"
                    },
                    "improvement_stalled_warning": {
                      "type": "boolean",
                      "description": "True if the agent's improvement has plateaued"
                    },
                    "proposals_generated": {
                      "type": "integer",
                      "description": "Total proposals generated by the agent"
                    },
                    "proposals_approved": {
                      "type": "integer",
                      "description": "Proposals approved by the user"
                    },
                    "proposals_vetoed": {
                      "type": "integer",
                      "description": "Proposals vetoed by the user"
                    },
                    "proposals_rejected": {
                      "type": "integer",
                      "description": "Proposals rejected by the system or user"
                    },
                    "proposals_applied": {
                      "type": "integer",
                      "description": "Proposals successfully applied to the harness"
                    },
                    "avg_score_delta_per_applied_change": {
                      "type": "number",
                      "description": "Average score improvement per applied proposal"
                    },
                    "current_tier": {
                      "type": "string",
                      "description": "Current agent performance tier"
                    },
                    "baseline_tier": {
                      "type": "string",
                      "description": "Baseline tier the agent started at"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/proposals": {
      "get": {
        "operationId": "list_agent_proposals",
        "summary": "List agent proposals",
        "description": "Lists self-tuning proposals generated by the agent. Each proposal represents a suggested change to the agent's harness configuration.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Agent identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proposal list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Proposal"
                      }
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/proposals/{proposal_id}:approve": {
      "post": {
        "operationId": "approve_proposal",
        "summary": "Approve a proposal",
        "description": "Approves a pending proposal, applying the proposed changes to the agent's harness configuration. Returns the resulting status \u2014 APPLIED if successful, CONFIG_CHANGED if there was a conflict, or REJECTED on validation failure.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Agent identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "description": "Proposal identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proposal approved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent_id",
                    "proposal_id",
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "proposal_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "APPLIED",
                        "CONFIG_CHANGED",
                        "REJECTED"
                      ],
                      "description": "Outcome of the approval"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/proposals/{proposal_id}:reject": {
      "post": {
        "operationId": "reject_proposal",
        "summary": "Reject a proposal",
        "description": "Rejects a pending proposal with a reason. The agent uses rejection reasons to improve future proposals.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Agent identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "description": "Proposal identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rejection_reason"
                ],
                "properties": {
                  "rejection_reason": {
                    "type": "string",
                    "description": "Why the proposal was rejected \u2014 fed back to the agent for learning"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proposal rejected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent_id",
                    "proposal_id",
                    "status",
                    "rejection_reason",
                    "request_id"
                  ],
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "proposal_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "const": "REJECTED"
                    },
                    "rejection_reason": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/proposals/{proposal_id}:veto": {
      "post": {
        "operationId": "veto_proposal",
        "summary": "Veto a proposal",
        "description": "Vetoes a proposal. Unlike rejection, a veto signals strong disagreement and has a larger negative weight on the agent's proposal scoring.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Agent identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "description": "Proposal identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proposal vetoed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent_id",
                    "proposal_id",
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "proposal_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "const": "VETOED"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/harness/changes/{change_id}:revert": {
      "post": {
        "operationId": "revert_harness_change",
        "summary": "Revert a harness change",
        "description": "Reverts a previously applied harness configuration change. Creates a new config version that undoes the specified change.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Agent identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "change_id",
            "in": "path",
            "required": true,
            "description": "Change identifier to revert",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Change reverted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent_id",
                    "proposal_id",
                    "change_id",
                    "reverted_from",
                    "config_version_id",
                    "status",
                    "applied_by",
                    "applied_at",
                    "request_id"
                  ],
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "proposal_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Proposal that originally produced this change"
                    },
                    "change_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The change that was reverted"
                    },
                    "reverted_from": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Config version that contained the change"
                    },
                    "config_version_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "New config version after revert"
                    },
                    "status": {
                      "type": "string",
                      "const": "APPLIED"
                    },
                    "applied_by": {
                      "type": "string",
                      "description": "Identity that performed the revert"
                    },
                    "applied_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the revert"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/harness/source": {
      "put": {
        "operationId": "put_harness_source",
        "summary": "Set harness source config",
        "description": "Creates or updates the harness source configuration for an agent in a workspace. This is the authoring step \u2014 the config must be compiled and activated before it takes effect.",
        "tags": [
          "Harness"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agent_id",
                  "skills",
                  "instructions"
                ],
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Agent this config applies to"
                  },
                  "skills": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of skill identifiers to enable"
                  },
                  "instructions": {
                    "type": "string",
                    "description": "System-level instructions for the agent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Harness source saved as draft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "agent_id",
                    "config_version_id",
                    "version",
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "config_version_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Version ID for this draft config"
                    },
                    "version": {
                      "type": "integer",
                      "description": "Monotonically increasing version number"
                    },
                    "status": {
                      "type": "string",
                      "const": "DRAFT"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/harness/compile": {
      "post": {
        "operationId": "compile_harness",
        "summary": "Compile harness config",
        "description": "Validates and compiles a draft harness config. The compiled config is checked for skill compatibility, instruction validity, and resource constraints.",
        "tags": [
          "Harness"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "config_version_id"
                ],
                "properties": {
                  "config_version_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Draft config version to compile"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compilation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "compile_job_id",
                    "workspace_id",
                    "agent_id",
                    "config_version_id",
                    "is_valid",
                    "request_id"
                  ],
                  "properties": {
                    "compile_job_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Compilation job identifier"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "config_version_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "is_valid": {
                      "type": "boolean",
                      "description": "True if compilation succeeded without errors"
                    },
                    "validation_report_json": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "JSON-encoded validation report with warnings and errors, null if fully valid"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/harness/activate": {
      "post": {
        "operationId": "activate_harness",
        "summary": "Activate harness config",
        "description": "Activates a compiled harness config version, making it the active configuration for the agent. Only compiled configs can be activated.",
        "tags": [
          "Harness"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "config_version_id"
                ],
                "properties": {
                  "config_version_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Compiled config version to activate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Harness config activated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "agent_id",
                    "config_version_id",
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "config_version_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "const": "ACTIVE"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/harness/active": {
      "get": {
        "operationId": "get_active_harness",
        "summary": "Get active harness config",
        "description": "Returns the currently active harness configuration for the workspace, including the compiled agent profile.",
        "tags": [
          "Harness"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active harness configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "agent_id",
                    "config_version_id",
                    "compiled_profile_json",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "agent_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "config_version_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "compiled_profile_json": {
                      "type": "string",
                      "description": "JSON-encoded compiled agent profile"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/credentials/llm": {
      "put": {
        "operationId": "put_llm_credential",
        "summary": "Set LLM credential",
        "description": "Stores or replaces the BYOK LLM API key for a workspace. The key is encrypted at rest and never returned in API responses.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "api_key"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "API key for the provider \u2014 encrypted at rest, never echoed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Credential stored"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "get_llm_credential",
        "summary": "Get LLM credential status",
        "description": "Returns whether a BYOK LLM key is configured for the workspace and which provider it belongs to. Never returns the actual key.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "has_key",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string",
                      "description": "Configured LLM provider name"
                    },
                    "has_key": {
                      "type": "boolean",
                      "description": "True if an API key is stored"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_llm_credential",
        "summary": "Delete LLM credential",
        "description": "Removes the stored BYOK LLM API key for the workspace. Future runs will fall back to platform-provided keys if available.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential deleted"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/skills/{skill_ref}/secrets/{key_name}": {
      "put": {
        "operationId": "put_skill_secret",
        "summary": "Set a skill secret",
        "description": "Stores a secret value for a specific skill in a workspace. Secrets are scoped to the skill and can be further scoped to host-only or sandbox-only access.",
        "tags": [
          "Skill Secrets"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "skill_ref",
            "in": "path",
            "required": true,
            "description": "Skill reference identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_name",
            "in": "path",
            "required": true,
            "description": "Secret key name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Secret value \u2014 encrypted at rest, never echoed"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "host",
                      "sandbox"
                    ],
                    "description": "Where the secret is available. Defaults to both if omitted."
                  },
                  "meta_json": {
                    "type": "string",
                    "description": "Optional JSON metadata for the secret (e.g. expiry, rotation info)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Secret stored"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_skill_secret",
        "summary": "Delete a skill secret",
        "description": "Removes a specific secret for a skill in a workspace.",
        "tags": [
          "Skill Secrets"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "skill_ref",
            "in": "path",
            "required": true,
            "description": "Skill reference identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_name",
            "in": "path",
            "required": true,
            "description": "Secret key name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Secret deleted"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/spec/template": {
      "post": {
        "operationId": "generate_spec_template",
        "summary": "Generate spec via LLM",
        "description": "Streams an LLM-generated spec template based on the conversation messages. Supports tool use for interactive spec authoring. Returns Server-Sent Events.",
        "tags": [
          "Agent Relay"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRelayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of LLM-generated spec content",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream with spec template content"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/spec/preview": {
      "post": {
        "operationId": "preview_spec",
        "summary": "Preview spec via LLM",
        "description": "Streams an LLM-generated preview of a spec, showing what the agent would produce before committing. Returns Server-Sent Events.",
        "tags": [
          "Agent Relay"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRelayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of LLM-generated spec preview",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream with spec preview content"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "operationId": "list_platform_keys",
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no BYOK key is configured.",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Platform key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys",
                    "request_id"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformKey"
                      }
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_platform_key",
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a BYOK key stored. The platform key proxies through the referenced workspace's credential.",
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "source_workspace_id"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "source_workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Workspace whose BYOK key to use as the platform key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Platform key configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "source_workspace_id",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "source_workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "operationId": "delete_platform_key",
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without BYOK keys will no longer be able to use this provider.",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "LLM provider name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean",
                      "const": false
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/scale": {
      "post": {
        "operationId": "scale_billing",
        "summary": "Upgrade billing plan",
        "description": "Upgrades a workspace's billing plan by linking a payment provider subscription. The workspace's plan tier and billing status are updated immediately.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subscription_id"
                ],
                "properties": {
                  "subscription_id": {
                    "type": "string",
                    "description": "Payment provider subscription identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing plan updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "plan_tier",
                    "billing_status",
                    "plan_sku",
                    "subscription_id",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "plan_tier": {
                      "type": "string",
                      "description": "New plan tier (e.g. free, pro, enterprise)"
                    },
                    "billing_status": {
                      "type": "string",
                      "description": "Current billing status"
                    },
                    "plan_sku": {
                      "type": "string",
                      "description": "Plan SKU identifier"
                    },
                    "subscription_id": {
                      "type": "string",
                      "description": "Payment provider subscription ID"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/events": {
      "post": {
        "operationId": "billing_event",
        "summary": "Record a billing event",
        "description": "Records a billing lifecycle event such as a payment failure or downgrade. The workspace's billing status is updated accordingly.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_type",
                  "reason"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "PAYMENT_FAILED",
                      "DOWNGRADE_TO_FREE"
                    ],
                    "description": "Type of billing event"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Human-readable reason for the event"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing event recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "billing_status",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "billing_status": {
                      "type": "string",
                      "description": "Updated billing status"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/billing/summary": {
      "get": {
        "operationId": "get_billing_summary",
        "summary": "Get billing summary",
        "description": "Returns a billing breakdown for a workspace: run counts grouped by lifecycle event (completed, non-billable, score-gated), plus total agent seconds and average score for gated runs. Filterable by period.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["7d", "30d", "90d"], "default": "30d" },
            "description": "Time period for the summary window"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing summary for the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["workspace_id", "period_days", "period_start_ms", "period_end_ms", "completed", "non_billable", "non_billable_score_gated", "total_runs", "request_id"],
                  "properties": {
                    "workspace_id": { "type": "string" },
                    "period_days": { "type": "integer" },
                    "period_start_ms": { "type": "integer", "format": "int64" },
                    "period_end_ms": { "type": "integer", "format": "int64" },
                    "completed": {
                      "type": "object",
                      "properties": {
                        "count": { "type": "integer" },
                        "agent_seconds": { "type": "integer" }
                      }
                    },
                    "non_billable": {
                      "type": "object",
                      "properties": {
                        "count": { "type": "integer" }
                      }
                    },
                    "non_billable_score_gated": {
                      "type": "object",
                      "properties": {
                        "count": { "type": "integer" },
                        "avg_score": { "type": "integer" }
                      }
                    },
                    "total_runs": { "type": "integer" },
                    "request_id": { "type": "string" }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/scoring/config": {
      "post": {
        "operationId": "set_scoring_config",
        "summary": "Set scoring configuration",
[...]
